[package]
name = "ockam_vault"
version = "0.87.0"
authors = ["Ockam Developers"]
categories = [
  "cryptography",
  "asynchronous",
  "authentication",
  "no-std",
  "algorithms",
]
edition = "2021"
homepage = "https://github.com/build-trust/ockam"
keywords = ["ockam", "crypto", "cryptography", "authentication", "no-std"]
license = "Apache-2.0"
publish = true
readme = "README.md"
repository = "https://github.com/build-trust/ockam/tree/develop/implementations/rust/ockam/ockam_vault"
rust-version = "1.56.0"
description = """A software-only Ockam Vault implementation.
"""

[lib]
crate-type = ["rlib"]
path = "src/lib.rs"

[features]
default = ["std", "storage"]
disable_default_noise_protocol = []
OCKAM_XX_25519_AES256_GCM_SHA256 = []
OCKAM_XX_25519_AES128_GCM_SHA256 = []
OCKAM_XX_25519_ChaChaPolyBLAKE2s = []

# Feature (enabled by default): "std" enables functionality expected to
# be available on a standard platform.
std = [
  "ockam_macros/std",
  "ockam_node/std",
  "aes-gcm/alloc",
  "aes-gcm/std",
  "ed25519-dalek/std",
  "rand/std",
  "rand/std_rng",
  "tracing/std",
  "alloc",
  "p256/std",
]

# Feature: "no_std" enables functionality required for platforms
# without the standard library, requires nightly.
no_std = [
  "ockam_node/no_std",
  "rand_pcg",
  "aes-gcm/heapless",
  "aes-gcm/force-soft",
  "aes-gcm/stream",
  "serde/derive",
]

# Feature: "alloc" enables support for heap allocation (implied by `feature = "std"`)
alloc = [
  "ockam_node/alloc",
  "aes-gcm/alloc",
  "ed25519-dalek/alloc",
  "x25519-dalek/alloc",
  "p256/alloc",
  "p256/ecdsa",
  "p256/pem",
]

storage = ["ockam_node", "ockam_node/storage", "std", "serde_cbor"]

[dependencies]
aes-gcm = { version = "0.9", default-features = false, features = ["aes"] }
arrayref = "0.3"
cfg-if = "1.0.0"
ed25519-dalek = { version = "2.0", default-features = false, features = ["fast", "rand_core", "zeroize"] }
hex = { version = "0.4", default-features = false }
hkdf = { version = "0.12", default-features = false }
minicbor = { version = "0.20.0", features = ["derive"] }
ockam_core = { path = "../ockam_core", version = "^0.89.0", default_features = false }
ockam_macros = { path = "../ockam_macros", version = "^0.32.0", default-features = false }
ockam_node = { path = "../ockam_node", version = "^0.94.0", default_features = false, optional = true }
# ECDSA providers:
p256 = { version = "0.13.2", default_features = false }
rand = { version = "0.8", default-features = false }
rand_pcg = { version = "0.3.1", default-features = false, optional = true }
serde = { version = "1", default-features = false, features = ["derive"] }
serde_cbor = { version = "0.11.2", optional = true }
sha2 = { version = "0.10", default-features = false }
static_assertions = "1.1.0"
thiserror = { version = "1.0.50", optional = true }
tracing = { version = "0.1", default-features = false, features = ["attributes"] }
x25519-dalek = { version = "2.0.0", default_features = false, features = ["precomputed-tables", "static_secrets", "zeroize"] }
zeroize = { version = "1.6.0", features = ["zeroize_derive"] }

[dev-dependencies]
data-encoding = { version = "2.4.0", features = ["alloc"] }
serde_bare = { version = "0.5.0" }
serde_json = { version = "1" }
tempfile = { version = "3.8.0" }
tokio = { version = "1.33", features = ["full"] }
trybuild = { version = "1.0", features = ["diff"] }
