[package]
name = "ockam_vault"
version = "0.1.0"
authors = ["Ockam Developers"]
edition = "2018"
license = "Apache-2.0"
homepage = "https://github.com/ockam-network/ockam"
repository = "https://github.com/ockam-network/ockam/tree/develop/implementations/rust/ockam/ockam_vault"
readme = "README.md"
categories = ["cryptography", "no-std", "authentication", "algorithms"]
keywords = ["ockam", "cryptography", "crypto", "curve25519", "xeddsa", "aes", "gcm", "encryption", "aead", "iot"]
description = """A software-only Ockam Vault implementation.
"""

[lib]
crate-type = ["rlib", "cdylib"]

[features]
default = ["std"]
std = ["ockam_core/std", "hex/std"]
no_std = ["ockam_vault_core/heapless"]

[dependencies]
ockam_core = {path = "../ockam_core", version = "0.3.0"}
ockam_vault_core = {path = "../ockam_vault_core", version = "0.2.0"}
arrayref = "0.3"
aes-gcm = "0.8"
curve25519-dalek = "3.0"
ed25519-dalek = "1.0"
hkdf = "0.9"
hex = {version = "0.4", default-features = false }
rand = "0.7"
sha2 = "0.9"
x25519-dalek = "1.0"
hashbrown = "0.9.1"
zeroize = { version = "1.1", features = ["zeroize_derive"] }
