[package]
name = "ockam_vault"
version = "0.19.0-dev"
authors = ["Ockam Developers"]
edition = "2018"
license = "Apache-2.0"
homepage = "https://github.com/ockam-network/ockam"
repository = "https://github.com/ockam-network/ockam/tree/develop/implementations/rust/ockam/ockam_vault"
readme = "README.md"
categories = ["cryptography", "asynchronous", "authentication","no-std", "algorithms"]
keywords = ["ockam", "crypto", "cryptography", "authentication", "no-std"]
description = """A software-only Ockam Vault implementation.
"""

[lib]
crate-type = ["rlib", "cdylib"]

[features]
default = ["std"]
std = ["ockam_core/std"]
no_std = ["ockam_vault_core/heapless"]

[dependencies]
ockam_core = { path = "../ockam_core", version = "0.25.0-dev"                           }
ockam_vault_core = { path = "../ockam_vault_core", version = "0.19.0-dev"                           }
arrayref = "0.3"
aes-gcm = "0.9"
curve25519-dalek = "3.1"
ed25519-dalek = "1.0"
hkdf = "0.11"
rand = "0.8"
sha2 = "0.9"
x25519-dalek = "1.1"
zeroize = { version = "1.1", features = ["zeroize_derive"] }
tracing = "0.1.26"
signature_bbs_plus = {path = "../signature_bbs_plus", version = "0.17.0-dev"              }

[dev-dependencies]
ockam_vault_test_suite = { path = "../ockam_vault_test_suite", version = "0.14.0-dev"                           }
ockam_vault_test_attribute = { path = "../ockam_vault_test_attribute", version = "0.16.0-dev"                          }
