[package]
name = "ockam_vault"
version = "0.40.0"
authors = ["Ockam Developers"]
edition = "2021"
license = "Apache-2.0"
homepage = "https://github.com/ockam-network/ockam"
repository = "https://github.com/ockam-network/ockam/tree/develop/implementations/rust/ockam/ockam_vault"
readme = "README.md"
categories = [
    "cryptography",
    "asynchronous",
    "authentication",
    "no-std",
    "algorithms",
]
keywords = ["ockam", "crypto", "cryptography", "authentication", "no-std"]
description = """A software-only Ockam Vault implementation.
"""
publish = true
rust-version = "1.56.0"

[lib]
crate-type = ["rlib"]

[features]
default = ["std"]
bls = [
    "ockam_core/bls",
    "signature_core",
    "signature_bbs_plus",
    "signature_bls",
]

# Feature (enabled by default): "std" enables functionality expected to
# be available on a standard platform.
std = [
    "ockam_core/std",
    "ockam_macros/std",
    "aes-gcm/alloc",
    "aes-gcm/std",
    "rand/std",
    "rand/std_rng",
    "tracing/std",
    "x25519-dalek/std",
    "x25519-dalek/u64_backend",
    "alloc",
]

# Feature: "no_std" enables functionality required for platforms
# without the standard library, requires nightly.
no_std = [
    "ockam_core/no_std",
    "ockam_macros/no_std",
    "rand_pcg",
    "x25519-dalek/u32_backend",
    "aes-gcm/heapless",
    "aes-gcm/force-soft",
    "aes-gcm/stream",
]

# Feature: "alloc" enables support for heap allocation (implied by `feature = "std"`)
alloc = ["ockam_core/alloc", "aes-gcm/alloc"]

[dependencies]
ockam_core = { path = "../ockam_core", version = "^0.46.0", default_features = false }
ockam_macros = { path = "../ockam_macros", version = "^0.7.0", default-features = false }
signature_core = { path = "../signature_core", version = "^0.36.0", optional = true }
signature_bbs_plus = { path = "../signature_bbs_plus", version = "^0.36.0", optional = true }
signature_bls = { path = "../signature_bls", version = "^0.34.0", optional = true }
signature_ps = { path = "../signature_ps", version = "^0.34.0", default-features = false, optional = true }
arrayref = "0.3"
aes-gcm = { version = "0.9", default-features = false, features = ["aes"] }
curve25519-dalek = { version = "3.1", default-features = false }
ed25519-dalek = { version = "1.0", default-features = false }
hkdf = { version = "0.11", default-features = false }
rand = { version = "0.8", default-features = false }
rand_pcg = { version = "0.3.1", default-features = false, optional = true }
sha2 = { version = "0.9", default-features = false }
x25519-dalek = { version = "1.0", default_features = false }
cfg-if = "1.0"
tracing = { version = "0.1", default-features = false }

[dev-dependencies]
ockam_vault_test_suite = { path = "../ockam_vault_test_suite", version = "^0.35.0"}
tokio = { version = "1.8", features = ["full"] }
