[package]
name = "ockam_command"
version = "0.116.0"
authors = ["Ockam Developers"]
categories = [
  "cryptography",
  "asynchronous",
  "authentication",
  "network-programming",
  "embedded",
]
default-run = "ockam"
edition = "2021"
exclude = ["tests/**"]
homepage = "https://github.com/build-trust/ockam"
keywords = [
  "ockam",
  "crypto",
  "cryptography",
  "network-programming",
  "encryption",
]
license = "Apache-2.0"
publish = true
readme = "README.md"
repository = "https://github.com/build-trust/ockam/implementations/rust/ockam/ockam_command"
rust-version = "1.58.1"
description = "End-to-end encryption and mutual authentication for distributed applications."

[package.metadata.cross.target.aarch64-unknown-linux-musl]
dockerfile = "../../../../tools/cross/Cross.Dockerfile.aarch64"

[package.metadata.cross.target.armv7-unknown-linux-musleabihf]
dockerfile = "../../../../tools/cross/Cross.Dockerfile.armv7"

[[bin]]
# You may be wondering "Why are the tests and docs disabled?". The long and
# short of it is: To avoid certain bugs in `rustdoc`, `cargo`, and other tools
# which have cases (even edge-cases) where they confuse the library (in
# `../ockam`) and the `ockam` binary (in `./src/bin/ockam.rs`). I won't
# enumerate them here, but an example: `rustdoc` will try to place the docs for
# both of these in the same path, without realizing it, which may result in one
# overwriting the other)
#
# Anyway a result, we disable them for the binary crate, which is just a single
# file (`src/bin/ockam.rs`) which contains a single function call into
# `ockam_command` itself. This way, while there are no tests/docs for the binary
# crate, it doesn't matter, since its just a shim for the `ockam_command` crate
# anyway (which does not have its tests/docs disabled)
name = "ockam"
doc = false
test = false
path = "src/bin/ockam.rs"

[dependencies]
anyhow = "1"
arboard = "3.3.0"
async-trait = "0.1"
clap = { version = "4.5.0", features = ["derive", "cargo", "wrap_help"] }
clap_complete = "4.5.0"
clap_mangen = "0.2.20"
colorful = "0.2"
colors-transform = "0.2.11"
console = "0.15.8"
ctrlc = { version = "3.4.2", features = ["termination"] }
dialoguer = "0.11.0"
duct = "0.13"
flate2 = "1.0.28"
hex = "0.4"
indicatif = "0.17.8"
indoc = "2.0.4"
miette = { version = "7.0.0", features = ["fancy-no-backtrace"] }
minicbor = { version = "0.20.0", features = ["derive", "alloc", "half"] }
nix = "0.27"
ockam = { path = "../ockam", version = "^0.116.0", features = ["software_vault"] }
ockam_abac = { path = "../ockam_abac", version = "0.49.0", features = ["std"] }
ockam_api = { path = "../ockam_api", version = "0.59.0", features = ["std"] }
ockam_core = { path = "../ockam_core", version = "^0.101.0" }
ockam_multiaddr = { path = "../ockam_multiaddr", version = "0.45.0", features = ["std"] }
ockam_node = { path = "../ockam_node", version = "^0.108.0" }
ockam_transport_tcp = { path = "../ockam_transport_tcp", version = "^0.106.0" }
ockam_vault = { path = "../ockam_vault", version = "^0.101.0", features = ["storage"] }
ockam_vault_aws = { path = "../ockam_vault_aws", version = "^0.27.0" }
once_cell = "1.19"
open = "5.0.0"
opentelemetry = { version = "0.21.0", features = ["metrics", "trace"] }
opentelemetry-otlp = { version = "0.14.0", features = ["metrics", "tls", "logs", "trace"], default-features = false }
pem-rfc7468 = { version = "0.7.0", features = ["std"] }
r3bl_rs_utils_core = "0.9.12"
r3bl_tui = "0.5.2"
r3bl_tuify = "0.1.25"
rand = "0.8"
regex = "1.10.3"
reqwest = { version = "0.11", default-features = false, features = ["json", "rustls-tls-native-roots", "blocking"] }
rustls = "0.22.2"
rustls-native-certs = "0.7.0"
rustls-pki-types = "1.2.0"
serde = { version = "1", features = ["derive"] }
serde_bare = { version = "0.5.0", default-features = false, features = ["alloc"] }
serde_json = "1"
serde_yaml = "0.9"
shellexpand = { version = "3.1.0", default-features = false, features = ["base-0"] }
strip-ansi-escapes = "0.2.0"
syntect = "5"
thiserror = "1"
time = { version = "0.3", default-features = false, features = ["std", "local-offset"] }
tiny_http = "0.12.0"
tokio = { version = "1.36.0", features = ["full"] }
tokio-retry = "0.3"
tracing = { version = "0.1", default-features = false }
tracing-core = { version = "0.1.32", default-features = false }
tracing-opentelemetry = "0.22.0"
url = "2.4.1"
which = "6.0.0"

[dev-dependencies]
assert_cmd = "2"
ockam_macros = { path = "../ockam_macros", version = "^0.33.0" }
proptest = "1.4.0"
tempfile = "3.10.0"
time = { version = "0.3", default-features = false, features = ["std", "local-offset"] }

[features]
default = ["orchestrator"]
orchestrator = []
