[package]
name = "ockam_command"
version = "0.13.0"
edition = "2021"
license = "Apache-2.0"
publish = false
rust-version = "1.58.1"
authors = ["Ockam Developers"]
homepage = "https://github.com/ockam-network/ockam"
repository = "https://github.com/ockam-network/ockam/implementations/rust/ockam/ockam_command"
description = ""

[[bin]]
# You may be wondering "Why are the tests and docs disabled?". The long and
# short of it is: To avoid certain bugs in `rustdoc`, `cargo`, and other tools
# which have cases (even edge-cases) where they confuse the library (in
# `../ockam`) and the `ockam` binary (in `./src/bin/ockam.rs`). I won't
# enumerate them here, but an example: `rustdoc` will try to place the docs for
# both of these in the same path, without realizing it, which may result in one
# overwriting the other)
#
# Anyway a result, we disable them for the binary crate, which is just a single
# file (`src/bin/ockam.rs`) which contains a single function call into
# `ockam_command` itself. This way, while there are no tests/docs for the binary
# crate, it doesn't matter, since its just a shim for the `ockam_command` crate
# anyway (which does not have its tests/docs disabled)
name = "ockam"
doc = false
test = false

[dependencies]
anyhow = "1"
dirs = "4.0.0"
clap = { version = "3", features = ["derive", "cargo"] }
tracing = { version = "0.1.31", features = ["attributes"] }
tracing-subscriber = "0.3.9"
tokio = { version="1", features = ["full"] }
async-trait = "0.1"
hex = "0.4"
serde_json = "1"
serde = { version = "1", features = ["derive"] }
rand = "0.8"
async-recursion = { version = "1.0.0" }

ockam = { path = "../ockam", version = "^0.53.0", features = ["software_vault"] }
ockam_vault = { path = "../ockam_vault", version = "^0.45.0", features = ["storage"] }
ockam_core = { path = "../ockam_core", version = "^0.52.0"}
