[package]
authors = ["Ockam Developers"]
categories = [
    "cryptography",
    "asynchronous",
    "authentication",
    "network-programming",
    "embedded",
]
description = "End-to-end encryption and mutual authentication for distributed applications."
edition = "2021"
exclude = ["tests/**"]
homepage = "https://github.com/build-trust/ockam"
keywords = [
    "ockam",
    "crypto",
    "cryptography",
    "network-programming",
    "encryption",
]
license = "Apache-2.0"
name = "ockam_command"
readme = "README.md"
repository = "https://github.com/build-trust/ockam/implementations/rust/ockam/ockam_command"
rust-version = "1.58.1"
publish = true
version = "0.81.0"

[package.metadata.cross.target.aarch64-unknown-linux-musl]
dockerfile = "../../../../tools/cross/Cross.Dockerfile.aarch64"

[package.metadata.cross.target.armv7-unknown-linux-musleabihf]
dockerfile = "../../../../tools/cross/Cross.Dockerfile.armv7"

[[bin]]
# You may be wondering "Why are the tests and docs disabled?". The long and
# short of it is: To avoid certain bugs in `rustdoc`, `cargo`, and other tools
# which have cases (even edge-cases) where they confuse the library (in
# `../ockam`) and the `ockam` binary (in `./src/bin/ockam.rs`). I won't
# enumerate them here, but an example: `rustdoc` will try to place the docs for
# both of these in the same path, without realizing it, which may result in one
# overwriting the other)
#
# Anyway a result, we disable them for the binary crate, which is just a single
# file (`src/bin/ockam.rs`) which contains a single function call into
# `ockam_command` itself. This way, while there are no tests/docs for the binary
# crate, it doesn't matter, since its just a shim for the `ockam_command` crate
# anyway (which does not have its tests/docs disabled)
name = "ockam"
doc = false
test = false

[dependencies]
anyhow = "1"
async-recursion = { version = "1.0.0" }
async-trait = "0.1"
clap = { version = "4.1.6", features = ["derive", "cargo", "wrap_help"] }
clap_complete = "4.1.3"
clap_mangen = "0.2.9"
cli-table = "0.4"
const-str = "0.5.3"
crossbeam-channel = "0.5"
dialoguer = "0.10"
directories = "4"
dirs = "4.0.0"
flate2 = "1.0.25"
hex = "0.4"
io-lifetimes = "1"
is-terminal = "0.4"
itertools = "0.10"
minicbor = { version = "0.19.0", features = ["derive", "alloc", "half"] }
nix = "0.26"
open = "3"
rand = "0.8"
reqwest = { version = "0.11", default-features = false, features = ["json", "rustls-tls-native-roots"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
serde_bare = { version = "0.5.0", default-features = false, features = ["alloc"] }
sysinfo = { version = "0.28", default-features = false }
syntect = "5"
tempfile = "3.3"
thiserror = "1"
tokio = { version="1", features = ["full"] }
tokio-retry = "0.3"
tracing = { version = "0.1.31", features = ["attributes"] }
tracing-error = "0.2"
tracing-subscriber = "0.3.9"
validator = "0.16"
colorful = "0.2"
regex = "1.7.1"
rustls = "0.20.8"
rustls-native-certs = "0.6.2"
pem-rfc7468 = { version = "0.6.0", features = ["std"]}
termimad = "0.21"
once_cell = "1.17"
ockam = { path = "../ockam", version = "^0.81.0", features = ["software_vault"] }
ockam_abac = { path = "../ockam_abac", version = "0.15.0", features = ["std"] }
ockam_api = { path = "../ockam_api", version = "0.24.0", features = ["std", "authenticators"] }
ockam_multiaddr = { path = "../ockam_multiaddr", version = "0.15.0", features = ["std"] }
ockam_vault = { path = "../ockam_vault", version = "^0.71.0", features = ["storage", "aws", "rustcrypto"] }
ockam_core = { path = "../ockam_core", version = "^0.75.0" }
ockam_identity = { path = "../ockam_identity", version = "^0.69.0" }

[dev-dependencies]
assert_cmd = "2"
tempfile = "3"

ockam_macros = { path = "../ockam_macros", version = "^0.27.0" }
ockam_api = { path = "../ockam_api", version = "0.24.0", features = ["std", "authenticators"] }
