(
    title: "Getting Started Guide",
    stages: [
        [
            "01-node",
            "match goodbye",
        ],
        [
            "02-worker",
            "match goodbye",
        ],
        [
            "03-routing",
            "match goodbye",
        ],
        [
            "03-routing-many-hops",
            "match goodbye",
        ],
        [
            "04-routing-over-transport-responder",
            "match Initializing ockam node",
            "04-routing-over-transport-initiator",
            "match goodbye",
        ],
        [
            "04-routing-over-transport-two-hops-responder",
            "match Initializing ockam node",
            "04-routing-over-transport-two-hops-middle",
            "match Initializing ockam node",
            "04-routing-over-transport-two-hops-initiator",
            "match goodbye",
        ],
        [
            "05-secure-channel-over-two-transport-hops-responder",
            "match Starting SecureChannel",
            "05-secure-channel-over-two-transport-hops-middle",
            "match Initializing ockam node",
            "05-secure-channel-over-two-transport-hops-initiator",
            "match goodbye",
        ],
    ]
)
