(
    title: "Kafka Use Case",
    stages: [
        [   "bob",
            "sleep 5",
            "match alice_to_bob_", "match bob_to_alice_",
            "out 1",
            "out 0",
            "alice",
            "match End-to-end encrypted secure channel was established.",
            "quit"
        ],
    ]
)
