(
    title: "Secure Remote Access Tunnels Use Case",

    // 24Mar2020
    // Docker image 'base' does not appear to include python3.
    // So, use ockam.io:80 as a HTTP endpoint instead of launching a
    // local python3 http server.

    stages: [
        [
            "01-inlet-outlet 127.0.0.1:4001 ockam.io:80",
            "match Initializing ockam node",
            "cmd curl -s -L http://127.0.0.1:4001",
            "match <html",
        ],
        [
            "02-outlet ockam.io:80",
            "match Initializing ockam node",
            "02-inlet 127.0.0.1:4001",
            "match Initializing ockam node",
            "cmd curl -s -L http://127.0.0.1:4001",
            "match <html",
        ],
        [
            "03-outlet ockam.io:80",
            "match Initializing ockam node",
            "03-inlet 127.0.0.1:4001",
            "match Initialized IdentitySecureChannel",
            "cmd curl -s -L http://127.0.0.1:4001",
            "match <html",
        ],
        [
            "04-outlet ockam.io:80",
            "match FWD_",
            "arg 0",
            "04-inlet 127.0.0.1:4001",
            "match Initialized IdentitySecureChannel",
            "cmd curl -s -L http://127.0.0.1:4001",
            "match <html",
        ],
    ]
)
