[package]
name = "ockam_app"
version = "0.1.0"
authors = ["Ockam Developers"]
categories = [
  "cryptography",
  "asynchronous",
  "authentication",
  "network-programming",
  "embedded",
]
edition = "2021"
homepage = "https://github.com/build-trust/ockam"
keywords = [
  "ockam",
  "crypto",
  "cryptography",
  "network-programming",
  "encryption",
]
license = "Apache-2.0"
publish = false
readme = "README.md"
repository = "https://github.com/build-trust/ockam/implementations/rust/ockam/ockam_app"
rust-version = "1.58.1"
description = "End-to-end encryption and mutual authentication for distributed applications."

[build-dependencies]
tauri-build = { version = "=2.0.0-alpha.8", features = [] }

[dependencies]
arboard = "3.2.1"
duct = "0.13.6"
hex = { version = "0.4.3", default-features = false, features = ["alloc", "serde"] }
log = { version = "0.4.20", optional = true }
miette = { version = "5.10.0", features = ["fancy-no-backtrace"] }
ockam = { path = "../ockam", version = "^0.98.0", features = ["software_vault"] }
ockam_api = { path = "../ockam_api", version = "0.41.0", features = ["std"] }
ockam_core = { path = "../ockam_core", version = "^0.89.0" }
ockam_multiaddr = { path = "../ockam_multiaddr", version = "0.32.0", features = ["cbor", "serde"] }
ockam_transport_tcp = { path = "../ockam_transport_tcp", version = "^0.92.0" }
once_cell = "1.18"
open = "5.0.0"
percent-encoding = "2.3.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tauri = { version = "=2.0.0-alpha.11", features = ["tray-icon", "icon-png"] }
tauri-plugin-log = { version = "=2.0.0-alpha.1", optional = true }
tauri-plugin-notification = "=2.0.0-alpha.1"
tauri-plugin-positioner = { version = "=2.0.0-alpha.1", features = ["tray-icon"] }
tauri-plugin-window = "=2.0.0-alpha.1"
tauri-runtime = "=1.0.0-alpha.0"
thiserror = "1.0.50"
tokio = { version = "1.33.0", features = ["full"] }
tokio-retry = "0.3"
tracing = "0.1"
tracing-subscriber = { version = "0.3.17", features = ["env-filter"], optional = true }

[features]
# this feature is used for production builds or when `devPath` points to the filesystem and the built-in dev server is disabled.
# If you use cargo directly instead of tauri's cli you can use this feature flag to switch between tauri's `dev` and `build` modes.
# DO NOT REMOVE!!
custom-protocol = ["tauri/custom-protocol"]
default = ["tracing"]
log = ["dep:log", "dep:tauri-plugin-log", "log/release_max_level_info", "tracing/log"]
release = ["log"]
tracing = ["dep:tracing-subscriber", "tracing/log", "tracing/release_max_level_info"]
