[package]
name = "credentials_example"
version = "0.1.0"
authors = ["Ockam Developers"]
edition = "2021"
publish = false
autobins = false
description = """
An example of issuing, holding, and verifying a credential
"""

[workspace]

[[bin]]
name = "alice"
path = "src/bin/alice.rs"

[[bin]]
name = "bob"
path = "src/bin/bob.rs"

[dependencies]
ockam = { path = "../../../ockam" }
ockam_core = { path = "../../../ockam_core" }
ockam_vault = { path = "../../../ockam_vault" }
ssh-key = "0.2.0"
