[package]
name        = "ockam_api"
version     = "0.13.0"
edition     = "2021"
authors     = ["Ockam Developers"]
license     = "Apache-2.0"
homepage    = "https://github.com/ockam-network/ockam"
repository  = "https://github.com/ockam-network/ockam/implementations/rust/ockam/ockam_api"
description = "Ockam's request-response API"
publish = true

[features]
std = [
    "data-encoding/std",
    "minicbor/std",
    "ockam_core/std",
    "ockam_identity/std",
    "ockam_node/std",
    "ockam_vault/std",
    "tinyvec/std",
    "tracing/std"
]
tag                  = ["cddl-cat"]
vault-storage        = ["ockam_vault/storage"]
lmdb                 = ["std", "lmdb-rkv"]
authenticators       = ["direct-authenticator"]
direct-authenticator = ["lmdb", "std"]
default              = ["lmdb"]

[dependencies]
ockam           = { path = "../ockam", version = "^0.70.0", features = ["software_vault"] }
data-encoding   = { version = "2.3.2", default-features = false, features = ["alloc"] }
ockam_multiaddr = { path = "../ockam_multiaddr", version = "0.4.0", features = ["std"] }
cddl-cat        = { version = "0.6.1", optional = true }
minicbor        = { version = "0.18.0", features = ["alloc", "derive"] }
serde           = { version = "1.0.137", features = ["derive"] }
serde_json      = "1.0.81"
tinyvec         = { version = "1.6.0", features = ["rustc_1_57"] }
tracing         = { version = "0.1.34", default-features = false }
lmdb-rkv        = { version = "0.14.0", optional = true }
anyhow          = "1"
directories     = "4"

[dependencies.ockam_core]
version          = "0.64.0"
path             = "../ockam_core"
default-features = false
features         = ["no_std", "alloc"]

[dependencies.ockam_node]
version          = "0.67.0"
path             = "../ockam_node"
default-features = false
features         = ["no_std", "alloc"]

[dependencies.ockam_vault]
version          = "0.60.0"
path             = "../ockam_vault"
default-features = false
# FIXME: ockam_vault's dependency curve25519-dalek has non-additive features which
# breaks building ockam_vault with feature set "no_std,std":
features         = ["std"]

[dependencies.ockam_identity]
version          = "0.58.0"
path             = "../ockam_identity"
default-features = false
features         = ["std"]

[dev-dependencies]
cddl-cat            = "0.6.1"
fake                = { version = "2", features=['derive', 'uuid']}
mockall             = "0.11"
# TODO enable "tag" feature once implemented on elixir side
ockam_api           = { path = ".", features = ["std", "authenticators"] }
ockam_macros        = { version = "0.18.0", path = "../ockam_macros", features = ["std"] }
ockam_transport_tcp = { version = "0.65.0", path = "../ockam_transport_tcp" }
quickcheck          = "1.0.1"
tempfile            = "3.3.0"
