[package]
name = "ockam_api"
version = "0.27.0"
authors = ["Ockam Developers"]
edition = "2021"
homepage = "https://github.com/ockam-network/ockam"
license = "Apache-2.0"
publish = true
repository = "https://github.com/ockam-network/ockam/implementations/rust/ockam/ockam_api"
description = "Ockam's request-response API"

[features]
std = [
  "either/use_std",
  "hex/std",
  "minicbor/std",
  "ockam_core/std",
  "ockam_abac/std",
  "ockam_identity/std",
  "ockam_multiaddr/std",
  "ockam_node/std",
  "ockam_vault/std",
  "tinyvec/std",
  "tracing/std",
]
tag = ["cddl-cat", "once_cell", "ockam_core/tag"]
vault-storage = ["ockam_vault/storage"]
lmdb = ["std", "lmdb-rkv"]
authenticators = ["direct-authenticator"]
direct-authenticator = ["lmdb", "std"]
default = ["lmdb"]

[dependencies]
anyhow = "1"
bytes = { version = "1.4.0", default-features = false, features = ["serde"] }
cddl-cat = { version = "0.6.1", optional = true }
directories = "5"
dirs = "5.0.0"
either = { version = "1.8.1", default-features = false }
hex = { version = "0.4.3", default-features = false, features = ["alloc", "serde"] }
kafka-protocol = "0.6.0"
lmdb-rkv = { version = "0.14.0", optional = true }
lru = "0.10.0"
minicbor = { version = "0.19.0", features = ["alloc", "derive"] }
nix = "0.26"
once_cell = { version = "1", optional = true, default-features = false }
rand = "0.8"
reqwest = { version = "0.11", default-features = false, features = ["json", "rustls-tls-native-roots"] }
rust-embed = "6"
serde = { version = "1.0.160", features = ["derive"] }
serde_json = "1.0.95"
sysinfo = "0.28"
tempfile = "3.5.0"
thiserror = "1.0"
time = { version = "0.3.20", default-features = false }
tinyvec = { version = "1.6.0", features = ["rustc_1_57"] }
tokio-retry = "0.3.0"
tracing = { version = "0.1.34", default-features = false }

ockam = { path = "../ockam", version = "^0.84.0", features = ["software_vault"] }
ockam_multiaddr = { path = "../ockam_multiaddr", version = "0.18.0", features = ["cbor", "serde"] }
ockam_transport_tcp = { path = "../ockam_transport_tcp", version = "^0.79.0" }

[dependencies.ockam_core]
version = "0.78.0"
path = "../ockam_core"
default-features = false
features = ["no_std", "alloc"]

[dependencies.ockam_node]
version = "0.81.0"
path = "../ockam_node"
default-features = false
features = ["no_std", "alloc"]

[dependencies.ockam_vault]
version = "0.74.0"
path = "../ockam_vault"
default-features = false
# FIXME: ockam_vault's dependency curve25519-dalek has non-additive features which
# breaks building ockam_vault with feature set "no_std,std":
features = ["std", "aws", "rustcrypto"]

[dependencies.ockam_identity]
version = "0.72.0"
path = "../ockam_identity"
default-features = false
features = ["std"]

[dependencies.ockam_abac]
version = "0.18.0"
path = "../ockam_abac"
default-features = false

[dev-dependencies]
cddl-cat = "0.6.1"
fake = { version = "2", features = ['derive', 'uuid'] }
hex = "0.4.3"
indexmap = "1.7.0"
mockall = "0.11"
# TODO enable "tag" feature once implemented on elixir side
ockam_api = { path = ".", features = ["std", "authenticators"] }
ockam_macros = { version = "0.28.0", path = "../ockam_macros", features = ["std"] }
ockam_transport_tcp = { version = "0.79.0", path = "../ockam_transport_tcp" }
quickcheck = "1.0.1"
uuid = "1.3.1"
