[package]
name = "ockam_api"
version = "0.33.0"
authors = ["Ockam Developers"]
edition = "2021"
homepage = "https://github.com/ockam-network/ockam"
license = "Apache-2.0"
publish = true
repository = "https://github.com/ockam-network/ockam/implementations/rust/ockam/ockam_api"
description = "Ockam's request-response API"

[features]
default = ["std", "direct-authenticator"]
std = [
  "either/use_std",
  "hex/std",
  "minicbor/std",
  "ockam_core/std",
  "ockam_abac/std",
  "ockam_identity/std",
  "ockam_multiaddr/std",
  "ockam_node/std",
  "ockam_vault/std",
  "ockam_vault_aws/std",
  "tinyvec/std",
  "tracing/std",
]
tag = ["cddl-cat", "once_cell", "ockam_core/tag"]
vault-storage = ["ockam_vault/storage"]
authenticators = ["direct-authenticator"]
direct-authenticator = ["std"]

[dependencies]
anyhow = "1"
aws-config = { version = "0.55.3", default-features = false, features = ["native-tls"] }
bytes = { version = "1.4.0", default-features = false, features = ["serde"] }
cddl-cat = { version = "0.6.1", optional = true }
either = { version = "1.8.1", default-features = false }
hex = { version = "0.4.3", default-features = false, features = ["alloc", "serde"] }
home = "0.5"
kafka-protocol = "0.6.0"
lru = "0.11.0"
miette = "5.9.0"
minicbor = { version = "0.19.0", features = ["alloc", "derive"] }
nix = "0.26"
once_cell = { version = "1", optional = true, default-features = false }
rand = "0.8"
reqwest = { version = "0.11", default-features = false, features = ["json", "rustls-tls-native-roots"] }
serde = { version = "1.0.171", features = ["derive"] }
serde_json = "1.0.102"
sysinfo = "0.29"
tempfile = "3.6.0"
thiserror = "1.0"
time = { version = "0.3.23", default-features = false }
tinyvec = { version = "1.6.0", features = ["rustc_1_57"] }
tokio-retry = "0.3.0"
tracing = { version = "0.1", default-features = false }

ockam = { path = "../ockam", version = "^0.90.0", features = ["software_vault"] }
ockam_multiaddr = { path = "../ockam_multiaddr", version = "0.24.0", features = ["cbor", "serde"] }
ockam_transport_tcp = { path = "../ockam_transport_tcp", version = "^0.84.0" }

[dependencies.ockam_core]
version = "0.83.0"
path = "../ockam_core"
default-features = false
features = ["no_std", "alloc"]

[dependencies.ockam_node]
version = "0.86.0"
path = "../ockam_node"
default-features = false
features = ["no_std", "alloc"]

[dependencies.ockam_vault]
version = "0.79.0"
path = "../ockam_vault"
default-features = false
# FIXME: ockam_vault's dependency curve25519-dalek has non-additive features which
# breaks building ockam_vault with feature set "no_std,std":
features = ["std"]

[dependencies.ockam_vault_aws]
version = "0.4.0"
path = "../ockam_vault_aws"
default-features = false
features = ["std"]

[dependencies.ockam_identity]
version = "0.78.0"
path = "../ockam_identity"
default-features = false
features = ["std"]

[dependencies.ockam_abac]
version = "0.24.0"
path = "../ockam_abac"
default-features = false

[dev-dependencies]
cddl-cat = "0.6.1"
fake = { version = "2", features = ['derive', 'uuid'] }
hex = "0.4.3"
indexmap = "1.7.0"
mockall = "0.11"
# TODO enable "tag" feature once implemented on elixir side
ockam_api = { path = ".", features = ["std", "authenticators"] }
ockam_macros = { version = "0.30.0", path = "../ockam_macros", features = ["std"] }
ockam_transport_tcp = { version = "0.84.0", path = "../ockam_transport_tcp" }
quickcheck = "1.0.1"
tokio = { version = "1.29.1", features = ["full"] }
uuid = "1.4.1"
