[package]
name        = "ockam_api"
version     = "0.3.0"
edition     = "2021"
authors     = ["Ockam Developers"]
license     = "Apache-2.0"
homepage    = "https://github.com/ockam-network/ockam"
repository  = "https://github.com/ockam-network/ockam/implementations/rust/ockam/ockam_api"
description = "Ockam's request-response API"
publish = true

[features]
std  = ["minicbor/std", "ockam_core/std", "ockam_node/std", "tinyvec/std", "tracing/std"]
tag  = ["cddl-cat"]
lmdb = ["std", "lmdb-rkv"]

[dependencies]
cddl-cat    = { version = "0.6.1", optional = true }
minicbor    = { version = "0.17.1", features = ["alloc", "derive"] }
serde       = { version = "1", features = ["derive"] }
serde_json  = "1"
tinyvec     = { version = "1.6.0", features = ["rustc_1_57"] }
tracing     = { version = "0.1.34", default-features = false }
lmdb-rkv    = { version = "0.14.0", optional = true }

[dependencies.ockam_core]
version          = "0.55.0"
path             = "../ockam_core"
default-features = false
features         = ["no_std", "alloc"]

[dependencies.ockam_node]
version          = "0.57.0"
path             = "../ockam_node"
default-features = false
features         = ["std"] # FIXME: required because of unbounded channels in ockam_node

[dev-dependencies]
cddl-cat            = "0.6.1"
fake                = { version = "2", features=['derive', 'uuid']}
mockall             = "0.11"
ockam_api           = { path = ".", features = ["std", "tag"] }
ockam_macros        = { version = "0.15.0", path = "../ockam_macros", features = ["std"] }
ockam_transport_tcp = { path = "../ockam_transport_tcp", version = "^0.55.0" }
quickcheck          = "1.0.1"
tempfile            = "3.3.0"
