[package]
name = "ockam_api"
version = "0.59.0"
authors = ["Ockam Developers"]
edition = "2021"
homepage = "https://github.com/ockam-network/ockam"
license = "Apache-2.0"
publish = true
repository = "https://github.com/ockam-network/ockam/implementations/rust/ockam/ockam_api"
description = "Ockam's request-response API"

[features]
default = ["std"]
std = [
  "either/use_std",
  "hex/std",
  "minicbor/std",
  "ockam_abac/std",
  "ockam_core/std",
  "ockam/std",
  "ockam_multiaddr/std",
  "ockam_node/std",
  "ockam_vault/std",
  "ockam_vault_aws/std",
  "tinyvec/std",
  "tracing/std",
  "storage",
]
storage = ["ockam/storage"]

[dependencies]
anyhow = "1"
aws-config = { version = "1.1.5", default-features = false, features = ["rustls"] }
base64-url = "2.0.2"
bytes = { version = "1.5.0", default-features = false, features = ["serde"] }
chrono = { version = "0.4" }
either = { version = "1.10.0", default-features = false }
fs2 = { version = "0.4.3" }
futures = { version = "0.3.30", features = [] }
gethostname = "0.4.3"
hex = { version = "0.4.3", default-features = false, features = ["alloc", "serde"] }
home = "0.5"
itertools = "0.12.1"
kafka-protocol = "0.8.2"
miette = "7.0.0"
minicbor = { version = "0.20.0", features = ["alloc", "derive"] }
nix = { version = "0.27", features = ["signal"] }
open = "5.0.0"
opentelemetry = { version = "0.21.0", features = ["logs", "metrics", "trace"] }
opentelemetry-appender-tracing = { version = "0.2.0" }
opentelemetry-otlp = { version = "0.14.0", features = ["logs", "metrics", "trace", "grpc-tonic", "tls-roots"], default-features = false }
opentelemetry-semantic-conventions = { version = "0.13.0" }
opentelemetry_sdk = { version = "0.21.2", features = ["logs", "metrics", "trace", "rt-tokio", "testing"], default-features = false }
petname = { version = "2.0.0-beta.4", default-features = false, features = ["default-rng", "default-words"] }
rand = "0.8"
regex = "1.10.3"
reqwest = { version = "0.11", default-features = false, features = ["json", "rustls-tls-native-roots"] }
serde = { version = "1.0.196", features = ["derive"] }
serde_json = "1.0.113"
sqlx = { version = "0.7.3", features = ["runtime-tokio", "sqlite"] }
sysinfo = "0.30"
thiserror = "1.0"
time = { version = "0.3.34", default-features = false, features = ["std", "formatting", "local-offset", "macros"] }
tiny_http = "0.12.0"
tinyvec = { version = "1.6.0", features = ["rustc_1_57"] }
tokio = { version = "1.36.0", features = ["full"] }
tokio-retry = "0.3.0"
tracing = { version = "0.1", default-features = false }
tracing-appender = "0.2.2"
tracing-core = { version = "0.1.32", default-features = false }
tracing-error = "0.2.0"
tracing-opentelemetry = "0.22.0"
tracing-subscriber = { version = "0.3.18", features = ["json"] }
url = "2.4.1"

ockam_multiaddr = { path = "../ockam_multiaddr", version = "0.45.0", features = ["cbor", "serde"] }
ockam_transport_tcp = { path = "../ockam_transport_tcp", version = "^0.106.0" }
tonic = "0.9.2"

[dependencies.ockam_core]
version = "0.101.0"
path = "../ockam_core"
default-features = false
features = ["no_std", "alloc"]

[dependencies.ockam_node]
version = "0.108.0"
path = "../ockam_node"
default-features = false
features = ["no_std", "alloc"]

[dependencies.ockam_vault]
version = "0.101.0"
path = "../ockam_vault"
default-features = false
# FIXME: ockam_vault's dependency curve25519-dalek has non-additive features which
# breaks building ockam_vault with feature set "no_std,std":
features = ["std"]

[dependencies.ockam_vault_aws]
version = "0.27.0"
path = "../ockam_vault_aws"
default-features = false
features = ["std"]

[dependencies.ockam]
version = "^0.116.0"
path = "../ockam"
default-features = false
features = ["ockam_transport_tcp", "storage"]

[dependencies.ockam_abac]
version = "0.49.0"
path = "../ockam_abac"
default-features = false

[dev-dependencies]
cddl-cat = "0.6.1"
fake = { version = "2", features = ['derive', 'uuid'] }
hex = "0.4.3"
indexmap = "2.2.2"
itertools = "0.12.1"
mockall = "0.12"
ockam_macros = { path = "../ockam_macros", features = ["std"] }
ockam_transport_tcp = { path = "../ockam_transport_tcp" }
once_cell = { version = "1", default-features = false }
opentelemetry_sdk = { version = "0.21.2", features = ["logs", "metrics", "trace", "rt-tokio", "testing"], default-features = false }
quickcheck = "1.0.1"
quickcheck_macros = "1.0.0"
tempfile = "3.10.0"
tokio = { version = "1.36.0", features = ["full"] }
tracing-core = "0.1.32"
uuid = "1.7.0"
