[package]
name = "ockam_api"
version = "0.52.0"
authors = ["Ockam Developers"]
edition = "2021"
homepage = "https://github.com/ockam-network/ockam"
license = "Apache-2.0"
publish = true
repository = "https://github.com/ockam-network/ockam/implementations/rust/ockam/ockam_api"
description = "Ockam's request-response API"

[features]
default = ["std"]
std = [
  "either/use_std",
  "hex/std",
  "minicbor/std",
  "ockam_abac/std",
  "ockam_core/std",
  "ockam/std",
  "ockam_multiaddr/std",
  "ockam_node/std",
  "ockam_vault/std",
  "ockam_vault_aws/std",
  "tinyvec/std",
  "tracing/std",
  "storage",
]
storage = ["ockam/storage"]

[dependencies]
anyhow = "1"
aws-config = { version = "1.0.3", default-features = false, features = ["rustls"] }
base64-url = "2.0.1"
bytes = { version = "1.5.0", default-features = false, features = ["serde"] }
either = { version = "1.9.0", default-features = false }
fs2 = { version = "0.4.3" }
futures = { version = "0.3.28" }
hex = { version = "0.4.3", default-features = false, features = ["alloc", "serde"] }
home = "0.5"
kafka-protocol = "0.7.0"
miette = "5.10.0"
minicbor = { version = "0.20.0", features = ["alloc", "derive"] }
nix = { version = "0.27", features = ["signal"] }
open = "5.0.0"
petname = { version = "2.0.0-beta.4", default-features = false, features = ["default-rng", "default-words"] }
rand = "0.8"
reqwest = { version = "0.11", default-features = false, features = ["json", "rustls-tls-native-roots"] }
serde = { version = "1.0.193", features = ["derive"] }
serde_json = "1.0.108"
sqlx = { version = "0.7.3", features = ["runtime-tokio", "sqlite"] }
sysinfo = "0.29"
thiserror = "1.0"
time = { version = "0.3.30", default-features = false, features = ["std", "formatting", "local-offset", "macros"] }
tiny_http = "0.12.0"
tinyvec = { version = "1.6.0", features = ["rustc_1_57"] }
tokio = { version = "1.35.0", features = ["full"] }
tokio-retry = "0.3.0"
tracing = { version = "0.1", default-features = false }
tracing-appender = "0.2.2"
tracing-error = "0.2.0"
tracing-subscriber = { version = "0.3.18", features = ["json"] }
url = "2.4.1"

ockam_multiaddr = { path = "../ockam_multiaddr", version = "0.41.0", features = ["cbor", "serde"] }
ockam_transport_tcp = { path = "../ockam_transport_tcp", version = "^0.100.0" }

[dependencies.ockam_core]
version = "0.97.0"
path = "../ockam_core"
default-features = false
features = ["no_std", "alloc"]

[dependencies.ockam_node]
version = "0.102.0"
path = "../ockam_node"
default-features = false
features = ["no_std", "alloc"]

[dependencies.ockam_vault]
version = "0.95.0"
path = "../ockam_vault"
default-features = false
# FIXME: ockam_vault's dependency curve25519-dalek has non-additive features which
# breaks building ockam_vault with feature set "no_std,std":
features = ["std"]

[dependencies.ockam_vault_aws]
version = "0.20.0"
path = "../ockam_vault_aws"
default-features = false
features = ["std"]

[dependencies.ockam]
version = "^0.109.0"
path = "../ockam"
default-features = false
features = ["ockam_transport_tcp", "storage"]

[dependencies.ockam_abac]
version = "0.43.0"
path = "../ockam_abac"
default-features = false

[dev-dependencies]
cddl-cat = "0.6.1"
fake = { version = "2", features = ['derive', 'uuid'] }
hex = "0.4.3"
indexmap = "2.1.0"
mockall = "0.12"
ockam_macros = { path = "../ockam_macros", features = ["std"] }
ockam_transport_tcp = { path = "../ockam_transport_tcp" }
once_cell = { version = "1", default-features = false }
quickcheck = "1.0.1"
tempfile = "3.8.0"
tokio = { version = "1.35.0", features = ["full"] }
uuid = "1.6.1"
