# This file tells Git to only store LF in git.
#
# On Windows, Git will process all text files and
# make sure that CRLF is replaced with LF when writing that file to
# the object database and turn all LF back into CRLF when writing out
# into the working directory.
#
# git-scm.com/docs/gitattributes#_end_of_line_conversion
* text=auto

# Github detects some C header files incorrectly as C++
# This setting tells linguist to detect them as C
#
# https://github.com/github/linguist#using-gitattributes
# github.com/github/linguist/issues/2881#issuecomment-231470986
*.h linguist-language=C

# Ignore from repo language statistics.
# https://github.com/github/linguist#using-gitattributes
*.c linguist-vendored=true
*.h linguist-vendored=true
CMakeLists.txt linguist-vendored=true
*.cmake linguist-vendored=true
*.cmake.in linguist-vendored=true
*.html linguist-vendored=true
*.html.eex linguist-vendored=true
*.py linguist-vendored=true
*.js linguist-vendored=true
tools/** linguist-vendored=true
