[submodule "implementations/c/third-party/microchip/cryptoauthlib"]
	path = implementations/c/third-party/microchip/cryptoauthlib
	url = https://github.com/MicrochipTech/cryptoauthlib.git
[submodule "implementations/c/third-party/arm/mbedtls"]
	path = implementations/c/third-party/arm/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
