Changelog-INCOMING.md
.env
.gradle
.vagrant
.envrc
.builder
.apple-codesign
CMakeCache.txt
CMakeFiles
cmake_install.cmake
*.a
*.DS_store
*.gch
.idea
.tool-versions
.adr-dir
target
vendor
.cargo
# nix build
/result*
.home
# managed via nix flake
/.pre-commit-config.yaml
