# This file configures an azure build pipeline
# https://docs.microsoft.com/en-us/azure/devops/pipelines/

name: $(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)

trigger:
  - master
  - develop
  - feature/*

pool:
  vmImage: 'Ubuntu 16.04'

steps:
  # 'Ubuntu 16.04' image doesn't support docker buildkit
  # DOCKER_BUILDKIT=0 tells the build script to not use it
  - script: DOCKER_BUILDKIT=0 TRACE=1 ./build
