[package]
authors = ["Ockam Developers"]
categories = [
    "cryptography",
    "asynchronous",
    "authentication",
    "network-programming",
    "embedded",
]
description = "End-to-end encryption and mutual authentication for distributed applications."
edition = "2021"
exclude = ["tests/**"]
homepage = "https://github.com/build-trust/ockam"
keywords = [
    "ockam",
    "crypto",
    "cryptography",
    "network-programming",
    "encryption",
]
license = "Apache-2.0"
name = "ockam"
readme = "README.md"
repository = "https://github.com/build-trust/ockam/tree/develop/implementations/rust/ockam/ockam"
version = "0.81.0"
rust-version = "1.56.0"
publish = true

[package.metadata.docs.rs]
all-features = false
rustdoc-args = ["--cfg", "docsrs"]

[features]
default = ["std", "ockam_transport_tcp", "software_vault", "software_vault_storage"]
software_vault = [
    "ockam_vault/rustcrypto",
    "ockam_identity/software_vault",
]
software_vault_storage = ["software_vault", "ockam_vault/storage"]

# Feature (enabled by default): "std" enables functionality expected to
# be available on a standard platform.
std = [
    "alloc",
    "ockam_core/std",
    "ockam_node/std",
    "ockam_macros/std",
    "ockam_vault/std",
    "ockam_key_exchange_xx/std",
    "ockam_identity/std",
    "ockam_abac/std",
    "rand/default",
    "serde/std",
]

# Feature: "no_std" enables functionality required for platforms
# without the standard library, requires nightly.
no_std = [
    "ockam_core/no_std",
    "ockam_node/no_std",
    "ockam_macros/no_std",
    "ockam_vault/no_std",
    "ockam_key_exchange_xx/no_std",
    "ockam_identity/no_std",
]

# Feature: "alloc" enables support for heap allocation (implied by `feature = "std"`)
alloc = [
    "ockam_core/alloc",
    "ockam_node/alloc",
    "ockam_vault/alloc",
    "ockam_key_exchange_xx/alloc",
    "ockam_identity/alloc",
    "serde/alloc",
]

# Feature: "debugger" enables functionality to trace addresses and
# message flows within Ockam apps.
debugger = ["ockam_node/debugger", "ockam_core/debugger"]

[[test]]
name = "tests"
path = "tests/main.rs"

[dependencies]
ockam_core = { path = "../ockam_core", version = "^0.75.0", default-features = false }
ockam_macros = { path = "../ockam_macros", version = "^0.27.0", default_features = false }
ockam_node = { path = "../ockam_node", version = "^0.78.0", default-features = false }
ockam_vault = { path = "../ockam_vault", version = "^0.71.0", default_features = false, optional = true }
ockam_transport_tcp = { path = "../ockam_transport_tcp", version = "^0.76.0", optional = true }
ockam_key_exchange_xx = { path = "../ockam_key_exchange_xx", version = "^0.71.0", default_features = false, optional = true }
ockam_identity = { path = "../ockam_identity", version = "^0.69.0", default_features = false }
ockam_abac = { path = "../ockam_abac", version = "^0.15.0", default_features = false, optional = true }
arrayref = "0.3"
minicbor = { version = "0.19.0", features = ["alloc", "derive"] }
serde = { version = "1.0", default-features = false, features = ["derive"] }
sha2 = { version = "0.10", default-features = false }
tracing = { version = "0.1", default-features = false }
rand = { version = "0.8", default-features = false }
hex = { version = "0.4", default-features = false }
dyn-clone = "1.0"

[dev-dependencies]
ockam_vault = { path = "../ockam_vault", version = "^0.71.0" }
ockam_key_exchange_xx = { path = "../ockam_key_exchange_xx", version = "^0.71.0" }
trybuild = { version = "1.0", features = ["diff"] }
serde_json = "1.0"
rand_xorshift = "0.3"
