[package]
authors = ["Ockam Developers"]
categories = ["cryptography", "asynchronous", "authentication","network-programming", "embedded"]
description = """Ockam is a library for building devices that communicate securely, privately
and trustfully with cloud services and other devices.
"""
edition = "2018"
exclude = [
    "tests/**"
]
homepage = "https://github.com/ockam-network/ockam"
keywords = ["ockam", "crypto", "cryptography", "network-programming", "encryption"]
license = "Apache-2.0"
name = "ockam"
readme = "README.md"
repository = "https://github.com/ockam-network/ockam/tree/develop/implementations/rust/ockam/ockam"
version = "0.7.0"

[features]
default = ["std"]
std = ["ockam_node", "serde/std"]
alloc = ["ockam_core/alloc", "serde/alloc"]
no_std = ["ockam_core/no_std", "serde"]

[dependencies]
bbs = { version = "0.2", path = "../signature_bbs_plus", package = "signature_bbs_plus" }
bls = { version = "0.1", path = "../signature_bls", package = "signature_bls" }
bls12_381_plus = "0.4"
ockam_core = {path = "../ockam_core", version = "0.11.0"}
ockam_node = {path = "../ockam_node", version = "0.9.0", optional = true}
ockam_node_attribute = {path = "../ockam_node_attribute", version = "0.1.5"}
ockam_vault_core = {path = "../ockam_vault_core", version = "0.4.1"}
ockam_vault = {path = "../ockam_vault", version = "0.4.1"}
ockam_channel = {path = "../ockam_channel", version = "0.3.1"}
arrayref = "0.3"
serde_bare = "0.4"
serde = { version = "1.0", default-features = false, features = ["derive"], optional = true }
serde-big-array = "0.3"
signature_core = { version = "0.1.0", path = "../signature_core" }
sha2 = "0.9"
tracing = "0.1"
rand = "0.8"

[dev-dependencies]
trybuild = {version = "1.0.42", features = ["diff"]}
serde_json = "1.0"
rand_xorshift = "0.3"
