[package]
name = "ockam"
version = "0.0.0"
authors = ["Ockam Developers"]
edition = "2018"
license = "Apache-2.0"

[lib]
crate-type = ["rlib"]

[features]
default = ["std"]
std = ["ockam_node"]

[dependencies]
ockam_core = {path = "../ockam_core", version = "*"}
ockam_node = {path = "../ockam_node", version = "*", optional = true}
ockam_node_attribute = {path = "../ockam_node_attribute", version = "*"}
hex = "0.4"
hashbrown = "0.9.1"

[dev-dependencies]
trybuild = {version = "1.0.38", features = ["diff"]}
