[package]
authors = ["Ockam Developers"]
categories = ["cryptography", "asynchronous", "authentication","network-programming", "embedded"]
description = """Ockam is a library for building devices that communicate securely, privately
and trustfully with cloud services and other devices.
"""
edition = "2018"
exclude = [
    "tests/**"
]
homepage = "https://github.com/ockam-network/ockam"
keywords = ["ockam", "crypto", "cryptography", "network-programming", "p2p", "encryption"]
license = "Apache-2.0"
name = "ockam"
readme = "README.md"
repository = "https://github.com/ockam-network/ockam/tree/develop/implementations/rust/ockam/ockam"
version = "0.4.2"

[features]
default = ["std"]
std = ["ockam_node", "serde/std", "bbs", "ff", "digest/std", "pairing-plus", "sha2/std"]
alloc = ["ockam_core/alloc", "serde/alloc"]
no_std = ["ockam_core/no_std", "serde"]

[dependencies]
bbs = { version = "0.4", optional = true }
digest = { version = "0.8", optional = true }
ff = { version = "0.6", package = "ff-zeroize", optional = true }
ockam_core = { path = "../ockam_core", version = "0.7.0" }
ockam_node = { path = "../ockam_node", version = "0.5.0", optional = true }
ockam_node_attribute = { path = "../ockam_node_attribute", version = "0.1.4" }
ockam_vault_core = { path = "../ockam_vault_core", version = "0.3.2" }
ockam_vault = { path = "../ockam_vault", version = "0.3.2" }
ockam_channel = { path = "../ockam_channel", version = "0.1.0" }
arrayref = "0.3"
pairing-plus = { version = "0.19", optional = true }
serde_bare = "0.3"
serde = { version = "1.0", default-features = false, features = ["derive"], optional = true }
serde-big-array = "0.3"
sha2 = { version = "0.8", optional = true }
tracing = "0.1"
rand = "0.8"

[dev-dependencies]
trybuild = {version = "1.0.41", features = ["diff"]}
serde_json = "1.0"
