[package]
authors = ["Ockam Developers"]
categories = ["cryptography", "asynchronous", "authentication","network-programming", "embedded"]
description = """Ockam is a library for building devices that communicate securely, privately
and trustfully with cloud services and other devices.
"""
edition = "2018"
exclude = [
    "tests/**"
]
homepage = "https://github.com/ockam-network/ockam"
keywords = ["ockam", "crypto", "cryptography", "network-programming", "encryption"]
license = "Apache-2.0"
name = "ockam"
readme = "README.md"
repository = "https://github.com/ockam-network/ockam/tree/develop/implementations/rust/ockam/ockam"
version = "0.15.0"

[features]
default = ["std", "ockam_transport_tcp", "software_vault", "noise_xx"]
software_vault = ["ockam_vault", "ockam_vault_sync_core", "ockam_vault_sync_core/software_vault", "ockam_channel/software_vault"]
noise_xx = ["ockam_key_exchange_xx", "ockam_channel/noise_xx"]
std = ["ockam_node", "serde/std"]
alloc = ["ockam_core/alloc", "serde/alloc"]
no_std = ["ockam_core/no_std", "serde"]

[dependencies]
ockam_core = {path = "../ockam_core", version = "0.16.0"         }
ockam_node = {path = "../ockam_node", version = "0.14.0"         , optional = true}
ockam_node_attribute = {path = "../ockam_node_attribute", version = "0.5.0-dev"        }
ockam_vault_core = {path = "../ockam_vault_core", version = "0.10.0"         }
ockam_vault_sync_core = {path = "../ockam_vault_sync_core", version = "0.7.0"        , optional = true }
ockam_vault = {path = "../ockam_vault", version = "0.10.0"         , optional = true}
ockam_channel = {path = "../ockam_channel", version = "0.11.0"         }
ockam_transport_tcp = {path = "../ockam_transport_tcp", version = "0.10.0"         , optional = true}
ockam_key_exchange_core = { path = "../ockam_key_exchange_core", version = "0.8.0"         }
ockam_key_exchange_xx = { path = "../ockam_key_exchange_xx", version = "0.8.0"        , optional = true}
ockam_entity = { path = "../ockam_entity", version = "0.5.0"       }
arrayref = "0.3"
async-trait = "0.1.42"
bls12_381_plus = "0.4"
signature_core = { version = "0.8.0"         , path = "../signature_core" }
signature_bbs_plus = { version = "0.8.0"         , path = "../signature_bbs_plus", package = "signature_bbs_plus" }
signature_bls = { version = "0.6.0"         , path = "../signature_bls", package = "signature_bls" }
serde_bare = "0.4"
serde = { version = "1.0", default-features = false, features = ["derive"], optional = true }
serde-big-array = "0.3"
sha2 = "0.9"
tracing = "0.1"
rand = "0.8"

[dev-dependencies]
ockam_vault_sync_core = {path = "../ockam_vault_sync_core", version = "0.7.0"        }
ockam_key_exchange_xx = {path = "../ockam_key_exchange_xx", version = "0.8.0"        }
trybuild = {version = "1.0.42", features = ["diff"]}
serde_json = "1.0"
rand_xorshift = "0.3"
