
# Mix writes compiled artifacts to this directory.
_build

# Mix downloads project dependency sources to this directory.
deps

# ExDoc generates documentation in this directory.
doc

# Test coverage reports are written to this directroy.
cover

# We don't want to commit mix.lock files from the apps in the umbrella
apps/**/mix.lock
