<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<script type="application/javascript" defer="defer" src="js/index.js"></script>
<title>Ockam Node Web</title>
</head>
<body>
  <div id="main"></div>
</body>
</html>
