[package]
name = "ockam_identity"
version = "0.36.0"
authors = ["Ockam Developers"]
edition = "2021"
license = "Apache-2.0"
homepage = "https://github.com/ockam-network/ockam"
repository = "https://github.com/ockam-network/ockam/tree/develop/implementations/rust/ockam/ockam_identity"
readme = "README.md"
categories = ["cryptography", "authentication"]
keywords = ["ockam", "crypto", "encryption", "authentication"]
description = """Ockam is a library for building devices that communicate securely, privately
and trustfully with cloud services and other devices.
"""
publish = true
rust-version = "1.56.0"

[features]
default = ["std", "software_vault", "noise_xx"]
noise_xx = ["ockam_key_exchange_xx"]
software_vault = [
    "ockam_vault",
    "ockam_vault_sync_core",
    "ockam_vault_sync_core/software_vault",
]
lease_proto_json = ["serde_json"]

# Feature (enabled by default): "std" enables functionality expected to
# be available on a standard platform.
std = [
    "ockam_core/std",
    "ockam_macros/std",
    "ockam_channel/std",
    "ockam_key_exchange_core/std",
    "ockam_key_exchange_xx/std",
    "ockam_node/std",
    "ockam_vault_sync_core/std",
    "ockam_vault/std",
]

# Feature: "no_std" enables functionality required for platforms
# without the standard library.
no_std = [
    "ockam_core/no_std",
    "ockam_macros/no_std",
    "ockam_channel/no_std",
    "ockam_key_exchange_core/no_std",
    "ockam_key_exchange_xx/no_std",
    "ockam_node/no_std",
    "ockam_vault_sync_core/no_std",
    "ockam_vault/no_std",
]

# Feature: "alloc" enables support for heap allocation on "no_std"
# platforms, requires nightly.
alloc = [
    "ockam_core/alloc",
    "ockam_channel/alloc",
    "ockam_key_exchange_core/alloc",
    "ockam_key_exchange_xx/alloc",
    "ockam_node/alloc",
    "ockam_vault_sync_core/alloc",
    "ockam_vault/alloc",
]

# Feature: "credentials" enables support for the BLS signatures scheme
# which can be used as a building block for other more elaborate
# zero-knowledge capable signatures like short group signatures.
credentials = [
    "ockam_vault/bls",
    "signature_core",
    "signature_bbs_plus",
    "signature_bls",
    "bls12_381_plus",
]

[dependencies]
ockam_core = { path = "../ockam_core", version = "^0.46.0", default-features = false }
ockam_macros = { path = "../ockam_macros", version = "^0.7.0", default-features = false }
ockam_node = { path = "../ockam_node", version = "^0.45.0", default-features = false }
ockam_vault_sync_core = { path = "../ockam_vault_sync_core", version = "^0.37.0", default-features = false, optional = true }
ockam_vault = { path = "../ockam_vault", version = "^0.39.0", default-features = false, optional = true }
ockam_channel = { path = "../ockam_channel", version = "^0.42.0", default-features = false }
ockam_key_exchange_xx = { path = "../ockam_key_exchange_xx", version = "^0.39.0", default-features = false, optional = true }
ockam_key_exchange_core = { path = "../ockam_key_exchange_core", version = "^0.38.0", default-features = false }
cfg-if = "1.0.0"
group = { version = "0.10.0", default-features = false }
heapless = "0.7"
serde = { version = "1.0", default-features = false, features = ["derive"] }
signature_core = { path = "../signature_core", version = "^0.35.0", optional = true }
signature_bls = { path = "../signature_bls", version = "^0.33.0", optional = true }
signature_bbs_plus = { path = "../signature_bbs_plus", version = "^0.35.0", optional = true }
bls12_381_plus = { version = "0.5", default-features = false, optional = true }
serde_json = { version = "1.0", optional = true }
sha2 = { version = "0.9", default-features = false }
serde-big-array = "0.3"
rand = { version = "0.8", default-features = false }
tracing = { version = "0.1", default_features = false }

[dev-dependencies]
ockam_transport_tcp = { path = "../ockam_transport_tcp" }
ockam_vault = { path = "../ockam_vault", version = "^0.39.0"}
ockam_vault_sync_core = { path = "../ockam_vault_sync_core", version = "^0.37.0"}
rand_xorshift = "0"
tokio = { version = "1.8", features = ["full"] }
