[package]
authors = ["Ockam Developers"]
edition = "2018"
name = "ockam-vault"
version = "0.1.0"

[lib]
crate-type = ["staticlib", "rlib", "cdylib"]

[profile.release]
lto = true

[features]
default = []
atecc608a = ["c_bindings", "c_rust_memory"]
ffi = ["ffi-support", "lazy_static"]
os = ["keychain-services", "security-framework"]

[dependencies]
aead = "0.3"
aes-gcm = "0.7"
arrayref = "0.3"
curve25519-dalek = "3.0"
ecdsa = { version = "0.8", features = ["arithmetic", "sign", "verify"] }
ed25519-dalek = "1.0"
failure = "0.1"
ffi-support = { version = "0.4", optional = true }
hex = "0.4"
hkdf = "0.9"
lazy_static = { version = "1.4", optional = true }
ockam-common = { version = "0.1", path = "../common" }
p256 = { version = "0.5", features = ["arithmetic", "ecdsa", "ecdsa", "zeroize"] }
rand = "0.7"
sha2 = "0.9"
subtle = "2.3"
x25519-dalek = "1.0"
zeroize = { version = "1.1", features = ["zeroize_derive"] }
c_bindings = { path = "../c/bindings", optional = true  }
c_rust_memory = { path = "../c/rust_memory", optional = true  }

[target.'cfg(target_os = "macos")'.dependencies]
security-framework = { version = "2.0", optional = true }
keychain-services = { version = "0.1", git = "https://github.com/iqlusioninc/keychain-services.rs", optional = true }