[package]
name = "ockam_node_no_std"
version = "0.12.0"
authors = ["Ockam Developers"]
edition = "2018"
license = "Apache-2.0"
homepage = "https://github.com/ockam-network/ockam"
repository = "https://github.com/ockam-network/ockam/implementations/rust/ockam/ockam_node_no_std"
readme = "README.md"
keywords = ["ockam", "crypto", "no-std", "futures", "async-await"]
categories = ["cryptography", "asynchronous", "authentication","no-std"]
description = """
Ockam library types that do not need `std`.
"""
publish = true

[features]
default = ["std"]

# Feature (enabled by default): "std" enables functionality expected to
# be available on a standard platform.
std = ["alloc"]

# Feature "no_std" enables functionality required for platforms
# without the standard library, requires nightly.
no_std = []

# Feature: "alloc" enables support for heap allocation (implied by `feature = "std"`)
alloc = []

[dependencies]
executor = "0.7.0"
