[package]
name = "ockam_macros"
version = "0.32.0"
authors = ["Ockam Developers"]
categories = [
  "cryptography",
  "asynchronous",
  "authentication",
  "network-programming",
  "embedded",
]
edition = "2021"
homepage = "https://github.com/build-trust/ockam"
keywords = [
  "ockam",
  "crypto",
  "cryptography",
  "network-programming",
  "encryption",
]
license = "Apache-2.0"
publish = true
readme = "README.md"
repository = "https://github.com/build-trust/ockam/tree/develop/implementations/rust/ockam/ockam_macros"
rust-version = "1.56.0"
description = "End-to-end encryption and mutual authentication for distributed applications."

[lib]
proc-macro = true
path = "src/lib.rs"

[features]
default = []

# Feature (enabled by default): "std" enables functionality expected to
# be available on a standard platform.
std = ["alloc"]

# Feature: "alloc" enables support for heap allocation (implied by `feature = "std"`)
alloc = []

# Feature: "no_std" enables functionality required for platforms
# without the standard library, requires nightly.
no_std = []

[dependencies]
proc-macro2 = "1.0"
quote = "1.0"
syn = { version = "2.0", features = ["full"] }
