[workspace]

[package]
name = "ockly"
version = "0.1.0"
authors = []
edition = "2021"

[lib]
name = "ockly"
path = "src/lib.rs"
crate-type = ["cdylib"]

[dependencies]
hex = { version = "0.4", default-features = false }
lazy_static = "1.4.0"
minicbor = { version = "0.20.0", features = ["alloc", "derive"] }
ockam_identity = { path = "../../../../../rust/ockam/ockam_identity" }
ockam_vault = { path = "../../../../../rust/ockam/ockam_vault" }
ockam_vault_aws = { path = "../../../../../rust/ockam/ockam_vault_aws" }
# Enable credentials-sso feature in ockam_vault_aws for use on sso environments (like dev machines)
rustler = "0.29.1"
tokio = "1.31.0"
