name: Documentation

permissions:
  contents: read

on:
  workflow_dispatch:
  pull_request:
    paths:
      - '.github/workflows/documentation.yml'
      - 'documentation/use-cases/**.md'
      - 'documentation/guides/rust/**.md'
      - 'tools/docs/**'
      - '**.rs'
      - '**.toml'
      - '**/Cargo.lock'
      - '**.gradle'
      - 'tools/gradle/**'
      - 'gradlew'
      - 'gradlew.bat'
      - '.github/actions/**'
  push:
    paths:
      - '.github/workflows/documentation.yml'
      - 'documentation/use-cases/**.md'
      - 'documentation/guides/rust/**.md'
      - 'tools/docs/**'
      - '**.rs'
      - '**.toml'
      - '**/Cargo.lock'
      - '**.gradle'
      - 'tools/gradle/**'
      - 'gradlew'
      - 'gradlew.bat'
      - '.github/actions/**'
  schedule:
    - cron: '0 1 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check_examples_in_guides:
    name: Documentation - Check Examples
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/ockam-network/ockam/builder@sha256:41df07cc61029f7293430acde1fccc8d7162cd3130aa32d151e440c9f9b31626
    steps:
      - uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579
      - uses: ./.github/actions/gradle_cache
      - uses: ./.github/actions/cargo_home_cache
      - uses: ./.github/actions/cargo_target_dir_cache

      - name: Check that example source and guide code blocks match
        run: OCKAM_HOME=$PWD tools/docs/check_documentation.sh

      - name: Run Get Started examples
        run: OCKAM_HOME=$PWD tools/docs/run_examples.sh

      - name: Run Kafka examples
        run: OCKAM_HOME=$PWD tools/docs/run_kafka_example.sh

      - uses: ./.github/actions/cargo_target_dir_pre_cache
