name: Elixir

permissions:
  contents: read

on:
  merge_group:
  pull_request:
    paths:
      - ".github/workflows/elixir.yml"
      - ".github/actions/**"
      - "**.ex"
      - "**.exs"
      - "**/mix.lock"
      - "**/priv/**"
      - "**/native/**"
      - "**.rs"
      - "**.toml"
      - "**/Cargo.lock"
      - "**.gradle"
      - "tools/gradle/**"
      - "gradlew"
      - "gradlew.bat"
  push:
    paths:
      - ".github/workflows/elixir.yml"
      - ".github/actions/**"
      - "**.ex"
      - "**.exs"
      - "**/mix.lock"
      - "**/priv/**"
      - "**/native/**"
      - "**.rs"
      - "**.toml"
      - "**/Cargo.lock"
      - "**.gradle"
      - "tools/gradle/**"
      - "gradlew"
      - "gradlew.bat"
    branches:
      - develop
  schedule:
    # At 1 am.
    - cron: "0 1 * * *"
  workflow_dispatch:
    inputs:
      commit_sha:
        description: Git commit sha, on which, to run this workflow

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

defaults:
  run:
    shell: nix develop ../../tools/nix#elixir --command bash {0}

jobs:
  lint:
    name: Elixir - lint_${{ matrix.mix_project }}
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        mix_project:
          - ockam
          - ockam_abac
          - ockam_cloud_node
          - ockam_healthcheck
          - ockam_kafka
          - ockam_metrics
          - ockam_services
          - ockam_typed_cbor
          - ockam_vault_software
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
        with:
          ref: ${{ github.event.inputs.commit_sha }}

      - name: Install Nix
        uses: ./.github/actions/nix_installer

      - name: Lint ${{ matrix.mix_project }}
        run: make lint_${{ matrix.mix_project }}
        working-directory: implementations/elixir

  build:
    name: Elixir - build_${{ matrix.mix_project }}
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        mix_project:
          - ockam
          - ockam_abac
          - ockam_cloud_node
          - ockam_healthcheck
          - ockam_kafka
          - ockam_metrics
          - ockam_services
          - ockam_typed_cbor
          - ockam_vault_software
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
        with:
          ref: ${{ github.event.inputs.commit_sha }}

      - name: Install Nix
        uses: ./.github/actions/nix_installer

      - name: Build ${{ matrix.mix_project }}
        run: make build_${{ matrix.mix_project }}
        working-directory: implementations/elixir

  test:
    name: Elixir - test_${{ matrix.mix_project }}
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        mix_project:
          - ockam
          - ockam_abac
          - ockam_cloud_node
          - ockam_healthcheck
          - ockam_kafka
          - ockam_metrics
          - ockam_services
          - ockam_typed_cbor
          - ockam_vault_software
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
        with:
          ref: ${{ github.event.inputs.commit_sha }}

      - name: Install Nix
        uses: ./.github/actions/nix_installer

      - name: Test ${{ matrix.mix_project }}
        run: make test_${{ matrix.mix_project }}
        working-directory: implementations/elixir
