name: Elixir

permissions:
  contents: read

on:
  pull_request:
    paths-ignore:
      - ".github/workflows/elixir.yml"
      - ".github/actions/**"
      - "**.ex"
      - "**.exs"
      - "**/mix.lock"
      - "**/priv/**"
      - "**/native/**"
      - "**.rs"
      - "**.toml"
      - "**/Cargo.lock"
      - "**.gradle"
      - "tools/gradle/**"
      - "gradlew"
      - "gradlew.bat"

jobs:
  lint:
    name: Elixir - lint_${{ matrix.mix_project }}
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        mix_project:
          - ockam
          - ockam_abac
          - ockam_cloud_node
          - ockam_healthcheck
          - ockam_kafka
          - ockam_metrics
          - ockam_services
          - ockam_typed_cbor
          - ockly
    steps:
      - run: 'echo "Elixir - lint_${{ matrix.mix_project }} - Ignored"'

  build:
    name: Elixir - build_${{ matrix.mix_project }}
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        mix_project:
          - ockam
          - ockam_abac
          - ockam_cloud_node
          - ockam_healthcheck
          - ockam_kafka
          - ockam_metrics
          - ockam_services
          - ockam_typed_cbor
          - ockly
    steps:
      - run: 'echo "Elixir - build_${{ matrix.mix_project }} - Ignored"'

  test:
    name: Elixir - test_${{ matrix.mix_project }}
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        mix_project:
          - ockam
          - ockam_abac
          - ockam_cloud_node
          - ockam_healthcheck
          - ockam_kafka
          - ockam_metrics
          - ockam_services
          - ockam_typed_cbor
          - ockly
    steps:
      - run: 'echo "Elixir - test_${{ matrix.mix_project }} - Ignored"'
