name: Elixir

permissions:
  contents: read

on:
  merge_group:
  pull_request:
    paths:
      - '.github/workflows/elixir.yml'
      - '.github/actions/**'
      - '**.ex'
      - '**.exs'
      - '**/mix.lock'
      - '**/priv/**'
      - '**/native/**'
      - '**.rs'
      - '**.toml'
      - '**/Cargo.lock'
      - '**.gradle'
      - 'tools/gradle/**'
      - 'gradlew'
      - 'gradlew.bat'
  push:
    paths:
      - '.github/workflows/elixir.yml'
      - '.github/actions/**'
      - '**.ex'
      - '**.exs'
      - '**/mix.lock'
      - '**/priv/**'
      - '**/native/**'
      - '**.rs'
      - '**.toml'
      - '**/Cargo.lock'
      - '**.gradle'
      - 'tools/gradle/**'
      - 'gradlew'
      - 'gradlew.bat'
    branches:
      - develop
  schedule:
    # At 1 am.
    - cron: "0 1 * * *"
  workflow_dispatch:
    inputs:
      commit_sha:
        description: Git commit sha, on which, to run this workflow

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  lint_ockam_vault_software:
    name: Elixir - lint_ockam_vault_software
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/build-trust/ockam-builder@sha256:cecb1860acd571278b2e7f8ecb3ffe405447ee844615134f93ddd11b1f3e2ca8
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9
        with:
          ref: ${{ github.event.inputs.commit_sha }}
      - uses: ./.github/actions/gradle_cache
      - uses: ./.github/actions/elixir_cache
      - run: cd implementations/elixir && ../../gradlew lint_ockam_vault_software

  lint_ockam:
    name: Elixir - lint_ockam
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/build-trust/ockam-builder@sha256:cecb1860acd571278b2e7f8ecb3ffe405447ee844615134f93ddd11b1f3e2ca8
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9
        with:
          ref: ${{ github.event.inputs.commit_sha }}
      - uses: ./.github/actions/gradle_cache
      - uses: ./.github/actions/elixir_cache
      - run: cd implementations/elixir && ../../gradlew lint_ockam

  lint_ockam_kafka:
    name: Elixir - lint_ockam_kafka
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/build-trust/ockam-builder@sha256:cecb1860acd571278b2e7f8ecb3ffe405447ee844615134f93ddd11b1f3e2ca8
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9
        with:
          ref: ${{ github.event.inputs.commit_sha }}
      - uses: ./.github/actions/gradle_cache
      - uses: ./.github/actions/elixir_cache
      - run: cd implementations/elixir && ../../gradlew lint_ockam_kafka

  lint_ockam_services:
    name: Elixir - lint_ockam_services
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/build-trust/ockam-builder@sha256:cecb1860acd571278b2e7f8ecb3ffe405447ee844615134f93ddd11b1f3e2ca8
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9
        with:
          ref: ${{ github.event.inputs.commit_sha }}
      - uses: ./.github/actions/gradle_cache
      - uses: ./.github/actions/elixir_cache
      - run: cd implementations/elixir && ../../gradlew lint_ockam_services

  lint_ockam_metrics:
    name: Elixir - lint_ockam_metrics
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/build-trust/ockam-builder@sha256:cecb1860acd571278b2e7f8ecb3ffe405447ee844615134f93ddd11b1f3e2ca8
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9
        with:
          ref: ${{ github.event.inputs.commit_sha }}
      - uses: ./.github/actions/gradle_cache
      - uses: ./.github/actions/elixir_cache
      - run: cd implementations/elixir && ../../gradlew lint_ockam_metrics

  lint_ockam_healthcheck:
    name: Elixir - lint_ockam_healthcheck
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/build-trust/ockam-builder@sha256:cecb1860acd571278b2e7f8ecb3ffe405447ee844615134f93ddd11b1f3e2ca8
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9
        with:
          ref: ${{ github.event.inputs.commit_sha }}
      - uses: ./.github/actions/gradle_cache
      - uses: ./.github/actions/elixir_cache
      - run: cd implementations/elixir && ../../gradlew lint_ockam_healthcheck

  lint_ockam_cloud_node:
    name: Elixir - lint_ockam_cloud_node
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/build-trust/ockam-builder@sha256:cecb1860acd571278b2e7f8ecb3ffe405447ee844615134f93ddd11b1f3e2ca8
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9
        with:
          ref: ${{ github.event.inputs.commit_sha }}
      - uses: ./.github/actions/gradle_cache
      - uses: ./.github/actions/elixir_cache
      - run: cd implementations/elixir && ../../gradlew lint_ockam_cloud_node

  build_ockam_vault_software:
    name: Elixir - build_ockam_vault_software
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/build-trust/ockam-builder@sha256:cecb1860acd571278b2e7f8ecb3ffe405447ee844615134f93ddd11b1f3e2ca8
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9
        with:
          ref: ${{ github.event.inputs.commit_sha }}
      - uses: ./.github/actions/gradle_cache
      - uses: ./.github/actions/elixir_cache
      - run: cd implementations/elixir && ../../gradlew build_ockam_vault_software

  build_ockam:
    name: Elixir - build_ockam
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/build-trust/ockam-builder@sha256:cecb1860acd571278b2e7f8ecb3ffe405447ee844615134f93ddd11b1f3e2ca8
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9
        with:
          ref: ${{ github.event.inputs.commit_sha }}
      - uses: ./.github/actions/gradle_cache
      - uses: ./.github/actions/elixir_cache
      - run: cd implementations/elixir && ../../gradlew build_ockam

  build_ockam_kafka:
    name: Elixir - build_ockam_kafka
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/build-trust/ockam-builder@sha256:cecb1860acd571278b2e7f8ecb3ffe405447ee844615134f93ddd11b1f3e2ca8
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9
        with:
          ref: ${{ github.event.inputs.commit_sha }}
      - uses: ./.github/actions/gradle_cache
      - uses: ./.github/actions/elixir_cache
      - run: cd implementations/elixir && ../../gradlew build_ockam_kafka

  build_ockam_services:
    name: Elixir - build_ockam_services
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/build-trust/ockam-builder@sha256:cecb1860acd571278b2e7f8ecb3ffe405447ee844615134f93ddd11b1f3e2ca8
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9
        with:
          ref: ${{ github.event.inputs.commit_sha }}
      - uses: ./.github/actions/gradle_cache
      - uses: ./.github/actions/elixir_cache
      - run: cd implementations/elixir && ../../gradlew build_ockam_services

  build_ockam_metrics:
    name: Elixir - build_ockam_metrics
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/build-trust/ockam-builder@sha256:cecb1860acd571278b2e7f8ecb3ffe405447ee844615134f93ddd11b1f3e2ca8
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9
        with:
          ref: ${{ github.event.inputs.commit_sha }}
      - uses: ./.github/actions/gradle_cache
      - uses: ./.github/actions/elixir_cache
      - run: cd implementations/elixir && ../../gradlew build_ockam_metrics

  build_ockam_healthcheck:
    name: Elixir - build_ockam_healthcheck
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/build-trust/ockam-builder@sha256:cecb1860acd571278b2e7f8ecb3ffe405447ee844615134f93ddd11b1f3e2ca8
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9
        with:
          ref: ${{ github.event.inputs.commit_sha }}
      - uses: ./.github/actions/gradle_cache
      - uses: ./.github/actions/elixir_cache
      - run: cd implementations/elixir && ../../gradlew build_ockam_healthcheck

  build_ockam_cloud_node:
    name: Elixir - build_ockam_cloud_node
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/build-trust/ockam-builder@sha256:cecb1860acd571278b2e7f8ecb3ffe405447ee844615134f93ddd11b1f3e2ca8
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9
        with:
          ref: ${{ github.event.inputs.commit_sha }}
      - uses: ./.github/actions/gradle_cache
      - uses: ./.github/actions/elixir_cache
      - run: cd implementations/elixir && ../../gradlew build_ockam_cloud_node

  test_ockam_vault_software:
    name: Elixir - test_ockam_vault_software
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/build-trust/ockam-builder@sha256:cecb1860acd571278b2e7f8ecb3ffe405447ee844615134f93ddd11b1f3e2ca8
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9
        with:
          ref: ${{ github.event.inputs.commit_sha }}
      - uses: ./.github/actions/gradle_cache
      - uses: ./.github/actions/cargo_home_cache
      - uses: ./.github/actions/cargo_target_dir_cache
      - uses: ./.github/actions/elixir_cache
      - run: cd implementations/elixir && ../../gradlew test_ockam_vault_software
      - uses: ./.github/actions/cargo_target_dir_pre_cache

  test_ockam:
    name: Elixir - test_ockam
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/build-trust/ockam-builder@sha256:cecb1860acd571278b2e7f8ecb3ffe405447ee844615134f93ddd11b1f3e2ca8
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9
        with:
          ref: ${{ github.event.inputs.commit_sha }}
      - uses: ./.github/actions/gradle_cache
      - uses: ./.github/actions/elixir_cache
      - run: cd implementations/elixir && ../../gradlew test_ockam

  test_ockam_kafka:
    name: Elixir - test_ockam_kafka
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/build-trust/ockam-builder@sha256:cecb1860acd571278b2e7f8ecb3ffe405447ee844615134f93ddd11b1f3e2ca8
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9
        with:
          ref: ${{ github.event.inputs.commit_sha }}
      - uses: ./.github/actions/gradle_cache
      - uses: ./.github/actions/elixir_cache
      - run: cd implementations/elixir && ../../gradlew test_ockam_kafka

  test_ockam_services:
    name: Elixir - test_ockam_services
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/build-trust/ockam-builder@sha256:cecb1860acd571278b2e7f8ecb3ffe405447ee844615134f93ddd11b1f3e2ca8
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9
        with:
          ref: ${{ github.event.inputs.commit_sha }}
      - uses: ./.github/actions/gradle_cache
      - uses: ./.github/actions/elixir_cache
      - run: cd implementations/elixir && ../../gradlew test_ockam_services

  test_ockam_metrics:
    name: Elixir - test_ockam_metrics
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/build-trust/ockam-builder@sha256:cecb1860acd571278b2e7f8ecb3ffe405447ee844615134f93ddd11b1f3e2ca8
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9
        with:
          ref: ${{ github.event.inputs.commit_sha }}
      - uses: ./.github/actions/gradle_cache
      - uses: ./.github/actions/elixir_cache
      - run: cd implementations/elixir && ../../gradlew test_ockam_metrics

  test_ockam_healthcheck:
    name: Elixir - test_ockam_healthcheck
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/build-trust/ockam-builder@sha256:cecb1860acd571278b2e7f8ecb3ffe405447ee844615134f93ddd11b1f3e2ca8
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9
        with:
          ref: ${{ github.event.inputs.commit_sha }}
      - uses: ./.github/actions/gradle_cache
      - uses: ./.github/actions/elixir_cache
      - run: cd implementations/elixir && ../../gradlew test_ockam_healthcheck

  test_ockam_cloud_node:
    name: Elixir - test_ockam_cloud_node
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/build-trust/ockam-builder@sha256:cecb1860acd571278b2e7f8ecb3ffe405447ee844615134f93ddd11b1f3e2ca8
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9
        with:
          ref: ${{ github.event.inputs.commit_sha }}
      - uses: ./.github/actions/gradle_cache
      - uses: ./.github/actions/elixir_cache
      - run: cd implementations/elixir && ../../gradlew test_ockam_cloud_node
