name: Gradle

permissions:
  contents: read

on:
  pull_request:
    paths:
      - '.github/workflows/gradle.yml'
      - '**.gradle'
      - 'tools/gradle/**'
      - 'gradlew'
      - 'gradlew.bat'
      - '.github/actions/**'
  push:
    paths:
      - '.github/workflows/gradle.yml'
      - '**.gradle'
      - 'tools/gradle/**'
      - 'gradlew'
      - 'gradlew.bat'
      - '.github/actions/**'
    branches:
      - develop
  schedule:
    # At 1 am.
    - cron: '0 1 * * *'
  workflow_dispatch:
    inputs:
      commit_sha:
        description: Git commit sha, on which, to run this workflow

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  full_build_in_release_mode:
    name: Gradle - full_build_in_release_mode
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/build-trust/ockam-builder@sha256:0a4c3640f78650e35207a047891e55863d8648a9333ea0bcfe03f09e2d57480c
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
        with:
          ref: ${{ github.event.inputs.commit_sha }}
      - uses: ./.github/actions/gradle_cache
      - uses: ./.github/actions/cargo_home_cache
      - uses: ./.github/actions/cargo_target_dir_cache
      - uses: ./.github/actions/elixir_cache
      - run: ./gradlew build -Pmode=release
      - uses: ./.github/actions/cargo_target_dir_pre_cache

  list_gradle_tasks:
    name: Gradle - list_gradle_tasks
    strategy:
      matrix:
        os: [ubuntu-20.04, macos-10.15, windows-2019]
        java: [8, 11, 16, 17]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
        with:
          ref: ${{ github.event.inputs.commit_sha }}
      - uses: actions/setup-java@5ffc13f4174014e2d4d4572b3d74c3fa61aeb2c2
        with:
          distribution: 'temurin'
          check-latest: true
          java-version: ${{ matrix.java }}
      - uses: ./.github/actions/gradle_cache
      - run: ./gradlew tasks --all
