name: Gradle

permissions:
  contents: read

on:
  pull_request:
    paths:
      - '.github/workflows/gradle.yml'
      - '**.gradle'
      - 'tools/gradle/**'
      - 'gradlew'
      - 'gradlew.bat'
      - '.github/actions/**'
  push:
    paths:
      - '.github/workflows/gradle.yml'
      - '**.gradle'
      - 'tools/gradle/**'
      - 'gradlew'
      - 'gradlew.bat'
      - '.github/actions/**'
    branches:
      - develop
  schedule:
    # At 1 am.
    - cron: '0 1 * * *'
  workflow_dispatch:
    inputs:
      commit_sha:
        description: Git commit sha, on which, to run this workflow

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  full_build_in_release_mode:
    name: Gradle - full_build_in_release_mode
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/build-trust/ockam-builder@sha256:9ee4558d834514e60a50c41bbf38c6ecae47d94dcfaa4df6a7256c262a7b0f4b
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
        with:
          ref: ${{ github.event.inputs.commit_sha }}
      - uses: ./.github/actions/gradle_cache
      - uses: Swatinem/rust-cache@b8a6852b4f997182bdea832df3f9e153038b5191
      - uses: ./.github/actions/elixir_cache
      - run: ./gradlew build -Pmode=release

  list_gradle_tasks:
    name: Gradle - list_gradle_tasks
    strategy:
      matrix:
        os: [ubuntu-20.04, macos-12, windows-2019]
        java: [8, 11, 16, 17]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
        with:
          ref: ${{ github.event.inputs.commit_sha }}
      - uses: actions/setup-java@cd89f46ac9d01407894225f350157564c9c7cee2
        with:
          distribution: 'temurin'
          check-latest: true
          java-version: ${{ matrix.java }}
      - uses: ./.github/actions/gradle_cache
      - run: ./gradlew tasks --all
