name: Ockam Container Release
on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Ockam tag to build'
        required: true
      binaries_sha:
        description: 'Ockam Release Assets SHA'
        required: false
      is_release:
        description: 'Indicate If Workflow Is To Release Ockam Package Or Be A Draft'
        type: choice
        default: false
        options:
        - false
        - true

permissions:
  contents: read

env:
  DEPLOYMENT_NAME: ockam
  ARTIFACT_NAME: ockam
  ORGANIZATION: build-trust

jobs:
  build-and-publish-artifact:
    if: github.event.inputs.is_release == 'false'
    name: "Build And Publish Ockam Container As Draft"
    runs-on: ubuntu-20.04
    environment: release
    permissions:
      actions: read
      contents: write
      packages: write

    steps:
      - name: Checker
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          set -ex
          mkdir assets && cd assets
          gh release download ${{ github.event.inputs.tag }} -R ${ORGANIZATION}/ockam

      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
        with:
          path: ockam

      - id: image
        shell: bash
        run: |
          tag_name="${{ github.event.inputs.tag }}"
          version=${tag_name:7}
          echo ::set-output name=image::"ghcr.io/${ORGANIZATION}/$ARTIFACT_NAME:${version}-draft"

      - name: Update Docker Template
        shell: bash
        run: |
          set -x
          temp_dir=$(mktemp -d)
          cp ./ockam/tools/templates/ockam.dockerfile $temp_dir/Dockerfile
          cd $temp_dir

          binaries=(${{ github.event.inputs.binaries_sha }})

          for binary in ${binaries[@]}; do
            echo "$binary"
            file=(${binary//:/ })
            echo "${file[@]}"

            if [[ ${file[0]} == *".so"* || ${file[0]} == *".sig"* ]]; then
              echo "elixir nif library found, skipping."
              continue
            fi

            sed -i "s/${file[0]}_sha256_value/${file[1]}/g" Dockerfile
          done

          cat Dockerfile
          cp Dockerfile $GITHUB_WORKSPACE/ockam/tools/templates

      - uses: docker/login-action@49ed152c8eca782a232dede0303416e8f356c37b
        with:
          registry: ghcr.io
          username: $ORGANIZATION
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/setup-qemu-action@8b122486cedac8393e77aa9734c3528886e4a1a8

      - id: buildx
        uses: docker/setup-buildx-action@dc7b9719a96d48369863986a06765841d7ea23f6

      - name: Build And Publish As Draft
        run: |
          tag_name="${{ github.event.inputs.tag }}"
          version=${tag_name:7}

          docker buildx build --push \
            --tag ghcr.io/${ORGANIZATION}/ockam:${version}-draft \
            --file ./ockam/tools/templates/Dockerfile \
            --platform linux/amd64,linux/arm64/v8,linux/arm/v7 .


  make-latest:
    if: github.event.inputs.is_release == 'true'
    name: "Make Draft Release Latest"
    runs-on: ubuntu-20.04
    environment: release
    permissions:
      packages: write

    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8

      - uses: docker/login-action@49ed152c8eca782a232dede0303416e8f356c37b
        with:
          registry: ghcr.io
          username: ${ORGANIZATION}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get Version
        id: image
        run: |
          tag_name="${{ github.event.inputs.tag }}"
          version=${tag_name:7}
          echo ::set-output name=version::"${version}"

      - name: Deploy Latest Image
        shell: bash
        run: |
          set -o xtrace

          docker pull ghcr.io/${ORGANIZATION}/ockam:${{ steps.image.outputs.version }}-draft

          manifest=$(docker manifest inspect -v ghcr.io/${ORGANIZATION}/ockam:${{ steps.image.outputs.version }}-draft)
          refs=$(echo $manifest | jq -r .[].Descriptor.digest)

          amended_refs=""
          for ref in ${refs[@]}; do
            amended_refs=" ${amended_refs[@]} --amend ghcr.io/${ORGANIZATION}/ockam@$ref"
          done

          docker manifest create ghcr.io/${ORGANIZATION}/ockam:${{ steps.image.outputs.version }} $amended_refs
          docker manifest push ghcr.io/${ORGANIZATION}/ockam:${{ steps.image.outputs.version }}

          docker manifest create ghcr.io/${ORGANIZATION}/ockam:latest $amended_refs
          docker manifest push ghcr.io/${ORGANIZATION}/ockam:latest
