name: Ockam Command Test

permissions:
  contents: read

on:
  workflow_dispatch:
    inputs:
      commit_sha:
        description: SHA to test workflow
  pull_request:
    paths:
      - ".github/workflows/ockam_command.yml"
      - "**.rs"
      - "**.toml"
      - "**/Cargo.lock"
      - "implementations/rust/ockam/ockam_command/tests/commands.bats"
      - ".github/actions/**"

  push:
    paths:
      - ".github/workflows/ockam_command.yml"
      - "**.rs"
      - "**.toml"
      - "**/Cargo.lock"
      - "implementations/rust/ockam/ockam_command/tests/commands.bats"
      - ".github/actions/**"
  schedule:
    - cron: "0 1 * * *"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  OCKAM_DISABLE_UPGRADE_CHECK: 1

jobs:
  ockam_command_test:
    name: Test Ockam Command
    strategy:
      fail-fast: false
      matrix:
        build: [linux_86]
        include:
        - build: linux_86
          os: ubuntu-20.04
          rust: stable
          target: x86_64-unknown-linux-gnu
          container: "ghcr.io/build-trust/ockam-builder@sha256:60e2c1e45d54e31b50f3e56fe202276ecc4812ccac88c84c9af8910cf787a81d"
    runs-on: ${{ matrix.os }}
    container: ${{ matrix.container }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
        with:
          ref: ${{ github.event.inputs.release_branch }}

      - name: Use cache cargo_home
        uses: ./.github/actions/cargo_home_cache
      - name: Use cache cargo_target
        uses: ./.github/actions/cargo_target_dir_cache

      - name: Build Binary
        shell: bash
        run: |
          rustc --version
          set -x
          cargo build --bin ockam

      - name: Run Script On Ubuntu
        if: matrix.build == 'linux_86'
        shell: bash
        run: |
          export PATH=$(pwd)/target/debug:$PATH;
          cd implementations/rust/ockam/ockam_command/tests;
          bats commands.bats;

      - name: Prep cache cargo_target before persisting
        uses: ./.github/actions/cargo_target_dir_pre_cache
