name: Rust

permissions:
  contents: read

on:
  merge_group:
  pull_request:
    paths:
      - ".github/workflows/rust.yml"
      - ".github/actions/**"
      - "**.rs"
      - "**.toml"
      - "**/Cargo.lock"
      - "implementations/rust/ockam/ockam_command/tests/**"
      - "**.gradle"
      - "tools/gradle/**"
      - "gradlew"
      - "gradlew.bat"
  push:
    paths:
      - ".github/workflows/rust.yml"
      - ".github/actions/**"
      - "**.rs"
      - "**.toml"
      - "**/Cargo.lock"
      - "implementations/rust/ockam/ockam_command/tests/**"
      - "**.gradle"
      - "tools/gradle/**"
      - "gradlew"
      - "gradlew.bat"
    branches:
      - develop
  schedule:
    # At 1 am.
    - cron: "0 1 * * *"
  workflow_dispatch:
    inputs:
      commit_sha:
        description: Commit SHA, to run workflow
      ockam_command_cli_version:
        description: SHA to build Ockam command CLI
      ockam_crate_version_to_test_with_docs_examples:
        description: Ockam crate version to tests docs.ockam.io library examples
      ockam_docs_ref:
        description: SHA or branch to run ockam docs test

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  lint-cargo-toml:
    name: Rust - lint-cargo-toml
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
        with:
          ref: ${{ github.event.inputs.commit_sha }}
      - name: Install Dprint
        run: npm install -g dprint@0.39.1
      - name: Check Formatting
        run: |
          dprint check --config tools/dprint/dprint.json

  lint_cargo_fmt_check:
    name: Rust - lint_cargo_fmt_check
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/build-trust/ockam-builder@sha256:9ee4558d834514e60a50c41bbf38c6ecae47d94dcfaa4df6a7256c262a7b0f4b
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
        with:
          ref: ${{ github.event.inputs.commit_sha }}
      - uses: ./.github/actions/gradle_cache
      - run: |
          rustc --version
          cd implementations/rust && ../../gradlew lint_cargo_fmt_check

  lint_cargo_readme:
    name: Rust - lint_cargo_readme
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/build-trust/ockam-builder@sha256:9ee4558d834514e60a50c41bbf38c6ecae47d94dcfaa4df6a7256c262a7b0f4b
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
        with:
          ref: ${{ github.event.inputs.commit_sha }}
      - uses: ./.github/actions/gradle_cache
      - run: |
          rustc --version
          cd implementations/rust && ../../gradlew lint_cargo_readme

  lint_cargo_clippy:
    name: Rust - lint_cargo_clippy
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/build-trust/ockam-builder@sha256:9ee4558d834514e60a50c41bbf38c6ecae47d94dcfaa4df6a7256c262a7b0f4b
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
        with:
          ref: ${{ github.event.inputs.commit_sha }}
      - uses: ./.github/actions/gradle_cache
      - uses: Swatinem/rust-cache@e207df5d269b42b69c8bc5101da26f7d31feddb4
      - run: |
          rustc --version
          cd implementations/rust && ../../gradlew lint_cargo_clippy

  lint_cargo_deny:
    name: Rust - lint_cargo_deny
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/build-trust/ockam-builder@sha256:9ee4558d834514e60a50c41bbf38c6ecae47d94dcfaa4df6a7256c262a7b0f4b
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
        with:
          ref: ${{ github.event.inputs.commit_sha }}
      - uses: ./.github/actions/gradle_cache
      - run: |
          rustc --version
          cd implementations/rust && ../../gradlew lint_cargo_deny

  build_docs:
    name: Rust - build_docs
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/build-trust/ockam-builder@sha256:9ee4558d834514e60a50c41bbf38c6ecae47d94dcfaa4df6a7256c262a7b0f4b
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
        with:
          ref: ${{ github.event.inputs.commit_sha }}
      - uses: ./.github/actions/gradle_cache
      - uses: Swatinem/rust-cache@e207df5d269b42b69c8bc5101da26f7d31feddb4
      - run: |
          rustc --version
          cd implementations/rust && ../../gradlew build_docs

  build:
    name: Rust - build
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/build-trust/ockam-builder@sha256:9ee4558d834514e60a50c41bbf38c6ecae47d94dcfaa4df6a7256c262a7b0f4b
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
        with:
          ref: ${{ github.event.inputs.commit_sha }}
      - uses: ./.github/actions/gradle_cache
      - uses: Swatinem/rust-cache@e207df5d269b42b69c8bc5101da26f7d31feddb4
      - run: |
          rustc --version
          cd implementations/rust && ../../gradlew build

  build_examples:
    name: Rust - build_examples
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/build-trust/ockam-builder@sha256:9ee4558d834514e60a50c41bbf38c6ecae47d94dcfaa4df6a7256c262a7b0f4b
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
        with:
          ref: ${{ github.event.inputs.commit_sha }}
      - uses: ./.github/actions/gradle_cache
      - uses: Swatinem/rust-cache@e207df5d269b42b69c8bc5101da26f7d31feddb4
      - run: |
          rustc --version
          cd implementations/rust && ../../gradlew build_examples

  test:
    name: Rust - test
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/build-trust/ockam-builder@sha256:9ee4558d834514e60a50c41bbf38c6ecae47d94dcfaa4df6a7256c262a7b0f4b
    services:
      ockam_cloud:
        image: ghcr.io/build-trust/ockam-cloud-node@sha256:518314876a5b07c263b88995792335c4426d940c10e5e638a60e66776d86cff5
    env:
      CLOUD_ADDRESS: ockam_cloud:4000
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
        with:
          ref: ${{ github.event.inputs.commit_sha }}
      - uses: ./.github/actions/gradle_cache
      - uses: Swatinem/rust-cache@e207df5d269b42b69c8bc5101da26f7d31feddb4
      - run: |
          rustc --version
          cd implementations/rust && ../../gradlew test

  check_no_std:
    name: Rust - check_no_std
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/build-trust/ockam-builder@sha256:9ee4558d834514e60a50c41bbf38c6ecae47d94dcfaa4df6a7256c262a7b0f4b
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
        with:
          ref: ${{ github.event.inputs.commit_sha }}
      - uses: ./.github/actions/gradle_cache
      - uses: Swatinem/rust-cache@e207df5d269b42b69c8bc5101da26f7d31feddb4
      - run: |
          rustc --version
          rustup target add thumbv7em-none-eabihf
          cd implementations/rust/ockam/ockam
          export RUSTFLAGS='-Dwarnings'
          cargo check --target thumbv7em-none-eabihf --no-default-features --features 'no_std alloc software_vault'

          # no_std example project
          cd ../../../../examples/rust/example_projects/no_std
          cargo check --example hello
          # RUSTFLAGS='-Dwarnings' cargo check --example hello --no-default-features --features 'alloc no_std'
          # RUSTFLAGS='-Dwarnings' cargo +nightly check --example hello --target thumbv7em-none-eabihf --no-default-features --features="qemu"
          # RUSTFLAGS='-Dwarnings' cargo +nightly check --example hello --target thumbv7em-none-eabihf --no-default-features --features="atsame54"
          # RUSTFLAGS='-Dwarnings' cargo +nightly check --example hello --target thumbv7em-none-eabihf --no-default-features --features="stm32f4"

  check_tag:
    name: Rust - check_tag
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/build-trust/ockam-builder@sha256:9ee4558d834514e60a50c41bbf38c6ecae47d94dcfaa4df6a7256c262a7b0f4b
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
        with:
          ref: ${{ github.event.inputs.commit_sha }}
      - uses: ./.github/actions/gradle_cache
      - uses: Swatinem/rust-cache@e207df5d269b42b69c8bc5101da26f7d31feddb4
      - run: |
          rustc --version
          RUSTFLAGS='-Dwarnings' cargo check --features tag

  check_cargo_update:
    name: Rust - check_cargo_update
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/build-trust/ockam-builder@sha256:9ee4558d834514e60a50c41bbf38c6ecae47d94dcfaa4df6a7256c262a7b0f4b
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
        with:
          ref: ${{ github.event.inputs.commit_sha }}
      - uses: ./.github/actions/gradle_cache
      - uses: Swatinem/rust-cache@e207df5d269b42b69c8bc5101da26f7d31feddb4
      - run: |
          rustc --version
          cd examples/rust/get_started
          rm -rf Cargo.lock
          cargo update
          RUSTFLAGS='--cfg tokio_unstable -Dwarnings' cargo check

  check_nightly:
    name: Rust - check_nightly
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/build-trust/ockam-builder@sha256:9ee4558d834514e60a50c41bbf38c6ecae47d94dcfaa4df6a7256c262a7b0f4b
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
        with:
          ref: ${{ github.event.inputs.commit_sha }}
      - uses: ./.github/actions/gradle_cache
      - uses: Swatinem/rust-cache@e207df5d269b42b69c8bc5101da26f7d31feddb4
      - run: rustup default nightly
      - run: rustup update nightly
      - run: |
          rustc --version
          RUSTFLAGS='--cfg tokio_unstable -Dwarnings' cargo check

  build_nightly:
    name: Rust - build_nightly
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/build-trust/ockam-builder@sha256:9ee4558d834514e60a50c41bbf38c6ecae47d94dcfaa4df6a7256c262a7b0f4b
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
        with:
          ref: ${{ github.event.inputs.commit_sha }}
      - uses: ./.github/actions/gradle_cache
      - uses: Swatinem/rust-cache@e207df5d269b42b69c8bc5101da26f7d31feddb4
      - run: rustup default nightly
      - run: rustup update nightly
      - run: |
          rustc --version
          cd implementations/rust && ../../gradlew build

  test_nightly:
    name: Rust - test_nightly
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/build-trust/ockam-builder@sha256:9ee4558d834514e60a50c41bbf38c6ecae47d94dcfaa4df6a7256c262a7b0f4b
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
        with:
          ref: ${{ github.event.inputs.commit_sha }}
      - uses: ./.github/actions/gradle_cache
      - uses: Swatinem/rust-cache@e207df5d269b42b69c8bc5101da26f7d31feddb4
      - run: rustup default nightly
      - run: rustup update nightly
      - run: |
          rustc --version
          cd implementations/rust && ../../gradlew test
        env:
          NIGHTLY_CI: 1

  test_ockam_command:
    name: Rust - test_ockam_command
    strategy:
      fail-fast: false
      matrix:
        build: [linux_86]
        include:
        - build: linux_86
          os: ubuntu-20.04
          rust: stable
          target: x86_64-unknown-linux-gnu
          container: "ghcr.io/build-trust/ockam-builder@sha256:9ee4558d834514e60a50c41bbf38c6ecae47d94dcfaa4df6a7256c262a7b0f4b"
    runs-on: ${{ matrix.os }}
    container: ${{ matrix.container }}
    steps:
      - name: Checkout ockam cli repository
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
        with:
          ref: ${{ inputs.ockam_command_cli_version != '' && inputs.ockam_command_cli_version || inputs.commit_sha  }}
          path: ockam_cli

      - name: Checkout ockam bats repository
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
        with:
          ref: ${{ inputs.commit_sha }}
          path: ockam_bats

      - uses: Swatinem/rust-cache@e207df5d269b42b69c8bc5101da26f7d31feddb4
        with:
          workspaces: "ockam_cli -> target"

      - name: Build Binary
        shell: bash
        working-directory: ockam_cli
        run: |
          rustc --version
          set -x
          cargo build --bin ockam
          echo "PATH=$(pwd)/target/debug:$PATH" >> $GITHUB_ENV;

      - name: Run Script On Ubuntu
        working-directory: ockam_bats
        shell: bash
        run: |
          ockam --version
          echo $(which ockam)
          bats implementations/rust/ockam/ockam_command/tests/bats;
        env:
          OCKAM_DISABLE_UPGRADE_CHECK: 1

  ockam_command_cross_build:
    name: Rust - ockam_command_cross_build
    strategy:
      fail-fast: false
      matrix:
        build: [linux_armv7, macos_silicon]
        include:
        - build: linux_armv7
          os: ubuntu-20.04
          toolchain: stable
          target: armv7-unknown-linux-musleabihf
          use-cross-build: true
        - build: macos_silicon
          os: macos-latest
          toolchain: stable
          target: aarch64-apple-darwin
          use-cross-build: false
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
        with:
          ref: ${{ inputs.commit_sha }}

      - uses: ./.github/actions/build_binaries
        with:
          use_cross_build: ${{ matrix.use-cross-build }}
          toolchain: ${{ matrix.toolchain }}
          target: ${{ matrix.target }}
          platform_operating_system: ${{ matrix.os }}

  test_orchestrator_ockam_command:
    name: Rust - test_orchestrator_ockam_command
    runs-on: ubuntu-20.04
    container: ghcr.io/build-trust/artifacts-helper:latest
    if: github.event_name == 'merge_group'
    environment: merge_queue
    permissions:
      contents: read
      packages: read

    steps:
      - name: Run Ockam Bats Test On Development Cluster
        uses: build-trust/.github/actions/run_bats_test@custom-actions
        with:
          perform_ockam_enroll: 'true'
          script_path: "/artifacts-scripts"
          ockam_repository_ref: ${{ inputs.commit_sha }}
          controller_id: ${{ secrets.ORCHESTRATOR_DEVELOPMENT_CONTROLLER_ID }}
          controller_addr: ${{ secrets.ORCHESTRATOR_DEVELOPMENT_CONTROLLER_ADDRESS }}

  test_docs_rust_library_examples:
    name: Rust - test_docs_rust_library_examples
    runs-on: ubuntu-20.04
    container: ghcr.io/build-trust/ockam-builder@sha256:9ee4558d834514e60a50c41bbf38c6ecae47d94dcfaa4df6a7256c262a7b0f4b
    if: github.event_name == 'workflow_dispatch'

    steps:
      # Run ockam example code against a different version of ockam library
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
        with:
          ref: ${{ inputs.commit_sha }}
          path: ockam_examples

      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
        with:
          ref: ${{ inputs.ockam_crate_version_to_test_with_docs_examples }}
          path: ockam_library

      - uses: Swatinem/rust-cache@e207df5d269b42b69c8bc5101da26f7d31feddb4
        with:
          workspaces: "ockam_examples -> target"

      - name: Move Implementation Directory From Ockam Library To Ockam Examples
        run: |
          cp -r ockam_library/implementations/rust/ockam ockam_examples/implementations/rust/ockam

      - name: Run Ockam Examples
        working-directory: ockam_examples
        run: cargo test -p hello_ockam

  lint_docs_ockam_io_rust_examples:
    name: Rust - lint_docs_ockam_io_rust_examples
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/build-trust/ockam-builder@sha256:9ee4558d834514e60a50c41bbf38c6ecae47d94dcfaa4df6a7256c262a7b0f4b

    steps:
      - name: Checkout Ockam Repository
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
        with:
          ref: ${{ inputs.commit_sha }}
          path: ockam

      - name: Checkout Ockam Documentation Repository
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
        with:
          ref: ${{ inputs.ockam_docs_ref == '' && 'develop' || inputs.ockam_docs_ref }}
          repository: build-trust/ockam-documentation
          path: ockam-documentation

      - name: Check Rust Documentation
        run: |
          CHECK_MD_DIR="ockam-documentation/reference/libraries/rust" CHECK_MD_DIR_RUST_EXAMPLE="ockam/examples/rust/get_started" OCKAM_HOME="ockam" ockam/tools/docs/check_documentation.sh
