name: OSSF Scorecards

permissions:
  contents: read

on:
  branch_protection_rule:
  push:
    branches:
      - develop
  schedule:
    # At 1am on Monday
    - cron: '0 1 * * 1'

jobs:
  analyze:
    name: OSSF Scorecards - analyze
    runs-on: ubuntu-20.04
    permissions:
      actions: read
      contents: read
      security-events: write # Needed to upload results to code-scanning dashboard.
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938
        with:
          persist-credentials: false

      - name: Analyze
        uses: ossf/scorecard-action@62b2cac7ed8198b15735ed49ab1e5cf35480ba46
        with:
          results_file: results.sarif
          results_format: sarif
          repo_token: ${{ secrets.SCORECARD_READ_TOKEN }}
          publish_results: true

      - name: "Upload to code-scanning"
        uses: github/codeql-action/upload-sarif@8214744c546c1e5c8f03dde8fab3a7353211988d
        with:
          sarif_file: results.sarif
