# This workflow checks shell scripts
name: Shell

permissions:
  contents: read

on:
  merge_group:
  pull_request:
    paths:
      - ".github/workflows/shell.yml"
      - "**.sh"
      - "**.bash"
  push:
    paths:
      - ".github/workflows/shell.yml"
      - "**.sh"
      - "**.bash"
    branches:
      - develop
  workflow_dispatch:
    inputs:
      commit_sha:
        description: Git commit sha, on which, to run this workflow

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  # shellcheck gives warnings and suggestions for bash/sh shell scripts.
  # https://github.com/koalaman/shellcheck
  lint_shellcheck:
    name: Shell - lint_shellcheck
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@83b7061638ee4956cf7545a6f7efe594e5ad0247
        with:
          ref: ${{ github.event.inputs.commit_sha }}
      - run: shellcheck -S error $(find . -not -path "./demos/*" -iname "*.sh" -o -name "*.bash")

  # shfmt checks format of shell programs
  # https://github.com/mvdan/sh#shfmt
  lint_shfmt:
    name: Shell - lint_shfmt
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/build-trust/ockam-builder@sha256:0a4c3640f78650e35207a047891e55863d8648a9333ea0bcfe03f09e2d57480c
    steps:
      - uses: actions/checkout@83b7061638ee4956cf7545a6f7efe594e5ad0247
        with:
          ref: ${{ github.event.inputs.commit_sha }}
      - run: shfmt -d $(find . -not -path "./demos/*" -iname "*.sh" -o -name "*.bash")
