name: Shfmt

# shfmt formats shell programs
# https://github.com/mvdan/sh#shfmt

permissions:
  contents: read

on: [workflow_dispatch, pull_request, push]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  lint:
    name: Shfmt - Lint
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/build-trust/ockam-builder@sha256:60e2c1e45d54e31b50f3e56fe202276ecc4812ccac88c84c9af8910cf787a81d
    steps:
      - name: Check out ockam repository
        uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b
      - name: Run Shfmt on all '.sh' files
        run: shfmt -d $(find . -iname "*.sh")
